<div class="white-box" th:fragment="equipe">
	<h3 class="box-title m-b-0">Equipe de trabalho</h3>
	<table id="equipe" class="table table-hover">
		<thead>
			<tr>
				<th>Nome</th>
				<th>CPF</th>
				<th>Função</th>
				<th>Instituição</th>
				<th>CH</th>
				<th>Período</th>
				<th th:if="${acao.coordenador.nome == pessoaLogada.getNome()}"
					data-toogle="tooltip" title="Alterar">Alterar</th>
				<th th:if="${acao.coordenador.nome == pessoaLogada.getNome()}"
					data-toogle="tooltip" title="Excluir">Excluir</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="membro: ${acao.equipeDeTrabalho}">
				<td th:text="${membro.participante()}"></td>
				<td th:text="${membro.cpfParticipante}"></td>
				<td th:text="${membro.funcao()}"></td>
				<td th:text="${membro.instituicao()}"></td>
				<td th:text="__${membro.cargaHoraria}__h"></td>
				<td
					th:text="${#dates.format(membro.dataInicio, 'dd/MM/yyyy')} + ' a ' + ${#dates.format(membro.dataTermino, 'dd/MM/yyyy')}"></td>

				<td th:if="${acao.coordenador.nome == pessoaLogada.getNome()}" class="text-center">
					<a data-toggle="modal"
					data-target="#modal_alterar_periodo_participante"
					data-dismiss="modal" class="btn btn-info"
					th:attr="participacao=${membro.id},
							dataInicio=${membro.dataInicio},
							dataTermino=${membro.dataTermino},
							funcaoParticipante = ${membro.funcao.descricao},
							action = participacao,	
							link_alteracao=@{/participacao/alterar/{participacao}/{acao}(participacao=${membro.id},acao=${acao.id})}">
						<i class="fa fa-edit"></i>
				</a>
				</td>

				<td th:if="${acao.coordenador.nome == pessoaLogada.getNome()}" class="text-center"><a
					data-toggle="modal" data-target="#modal_exclusao_participacao"
					data-dismiss="modal" class="btn btn-danger"
					th:attr="link_exclusao=@{/participacao/excluir/{participacao}/{acao}(participacao=${membro.id},acao=${acao.id})}">
						<i class="fa fa-trash-o"></i>
				</a></td>

			</tr>
			<tr th:each="bolsa: ${acao.bolsistas}">
				<td th:text="${bolsa.bolsista.pessoa.nome}"></td>
				<td th:text="${bolsa.bolsista.pessoa.cpf}"></td>
				<td
					th:text="${bolsa.tipo.name() == 'REMUNERADO'} ? 'Bolsista Remunerado' : 'Aluno(a) Voluntário(a)'"></td>
				<td>Universidade Federal do Ceará</td>
				<td th:text="__${bolsa.cargaHoraria}__h"></td>
				<td
					th:text="${#dates.format(bolsa.inicio, 'dd/MM/yyyy')} + ' a ' + ${#dates.format(bolsa.termino, 'dd/MM/yyyy')}"></td>

				<td th:if="${acao.coordenador.nome == pessoaLogada.getNome()}" class="text-center">
					<a data-toggle="modal"
					data-target="#modal_alterar_periodo_participante"
					data-dismiss="modal" class="btn btn-info"
					th:attr="pessoa=${bolsa.bolsista.pessoa.id},
							dataInicio=${bolsa.inicio},
							dataTermino=${bolsa.termino},
							funcaoBolsista = Bolsista +' '+${bolsa.tipo.descricao},
							action = bolsa,	
							link_alteracao=@{/bolsa/alterar/{bolsa}/{acao}(bolsa=${bolsa.id},acao=${acao.id})}"><i
						class="fa fa-edit"></i></a>
				</td>
				<td th:if="${acao.coordenador.nome == pessoaLogada.getNome()}" class="text-center"><a
					data-toggle="modal" data-target="#modal_exclusao_bolsa"
					data-dismiss="modal" class="btn btn-danger"
					th:attr="link_exclusao=@{/bolsa/excluir/{bolsa}/{acao}(bolsa=${bolsa.id},acao=${acao.id})}"><i
						class="fa fa-trash-o"></i></a></td>

			</tr>
		</tbody>
	</table>
	<div class="row">
		<div class="col-sm-12">
			<div class="pull-right">
				<div class="row">
					<div class="col-sm-12">
						<div class="pull-right">
							<a th:if="${acao.coordenador.nome == pessoaLogada.getNome()}"
								class="btn btn-primary waves-effect waves-light m-t-10"
								data-toggle="modal" data-target="#bolsista-modal"
								data-dismiss="modal">Bolsista</a> <a
								th:if="${acao.coordenador.nome == pessoaLogada.getNome()}"
								class="btn btn-primary waves-effect waves-light m-t-10"
								data-toggle="modal" data-target="#participacao-modal"
								data-dismiss="modal">Participação</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
		aria-labelledby="myLargeModalLabel" aria-hidden="true"
		style="display: none;" id="participacao-modal">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true" onClick="window.location.reload();">×</button>
					<h4 class="modal-title" id="myLargeModalLabel">Informações do
						Participante</h4>
				</div>
				<div class="modal-body">

					<div class="panel panel-info">
						<div class="panel-wrapper collapse in" aria-expanded="true">
							<div class="panel-body">
								<form
									th:action="@{/participacao/adicionar-participacao/{acao}(acao=${acao.id})}"
									th:object="${participacao}" method="POST">
									<div class="form-body">
										<div class="row col-md-12">
											<div class="col-md-6">
												<div class="form-group">
													<label class="control-label">* Função</label> <select
														id="funcao" class="form-control" th:field="*{funcao}">
														<option th:each="f : ${funcoes}" th:text="${f.descricao}"
															th:value="${f}"></option>
													</select> <span class="help-block"> Selecione a função do
														participante </span>
												</div>

											</div>
											<div class="col-md-6">
												<div class="form-group">

													<label class="control-label" for="participanteServidor">*
														Servidor</label> <select class="form-control"
														data-placeholder="Selecione uma função" tabindex="1"
														id="participanteServidor" th:field="*{participante}">
													</select> <span class="help-block">Selecione um servidor </span>
												</div>

											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="control-label">* Instituição</label> <select
														id="instituicao" class="form-control"
														th:field="*{instituicao}">
														<option th:each="i : ${instituicoes}"
															th:text="${i.descricao}" th:value="${i}"></option>
													</select> <span class="help-block"> Selecione a instituição </span>

												</div>
											</div>
											<div class="col-md-6">
												<label class="control-label">Nome Instituição</label> <input
													id="nomeInstituicao" th:field="*{nomeInstituicao}"
													class="form-control" type="text" required="required"
													disabled="disabled" />
											</div>
										</div>
										<div class="row col-md-12">
											<h3>Novo Participante</h3>
											<div class="form-group">
												<div class="col-md-12">
													<label class="control-label">* Nome</label> <input
														id="nomeParticipante"
														th:field="${participacao.nomeParticipante}"
														class="form-control" type="text" required="required"
														disabled="disabled" />
												</div>
												<div class="col-md-6">
													<label class="control-label">* CPF</label> <input
														id="cpfParticipante" th:field="*{cpfParticipante}"
														class="form-control" type="text" required="required"
														disabled="disabled" />

												</div>
												<div class="col-md-6">
													<label>* Descrição da Função</label> <input
														id="descricaoFuncao" th:field="*{descricaoFuncao}"
														class="form-control" type="text" required="required"
														disabled="disabled" />

												</div>

											</div>
										</div>

										<div class="row col-md-12">
											<h3>Tempo de Participação</h3>

											<div class="col-md-6">
												<div class="form-group">

													<label>* Data de início</label> <input
														id="data_inicio_participacao" required="required"
														data-mask="99/99/9999"
														th:value="${acao.parseData(acao.inicio)}"
														name="dataInicio" class="form-control date" /> <span
														class="font-13 text-muted">Data limite para início:
														<small th:text="${acao.parseData(acao.inicio)}"></small>
													</span>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>* Data de término</label><input required="required"
														id="data_termino_participacao" name="dataTermino"
														data-mask="99/99/9999"
														th:value="${acao.parseData(acao.termino)}"
														class="form-control date" /> <span
														class="font-13 text-muted">Data limite para
														término: <small th:text="${acao.parseData(acao.termino)}"></small>
													</span>
												</div>
											</div>
										</div>
										<div class="row">

											<div class="col-md-6">

												<div class="form-group">
													<label for="cargaHoraria">* Carga Horária Semanal</label> <input
														id="cargaHoraria" type="number" name="cargaHoraria"
														required="required" class="form-control" min="4" max="16"
														th:field="*{cargaHoraria}" />

												</div>

											</div>

										</div>

										<div class="form-actions pull-right">
											<button type="submit" class="btn btn-success">
												<i class="fa fa-check"></i> Adicionar
											</button>
											<button type="button" class="btn btn-default"
												data-dismiss="modal">Fechar</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>


	<div id="modal_exclusao_bolsa" class="modal fade bs-example-modal-sm"
		tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
		style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title">Deseja realmente excluir esse
						bolsista?</h4>
				</div>
				<div class="modal-body">
					<div class="panel panel-info">
						<div class="panel-wrapper collapse in" aria-expanded="true">
							<div class="panel-body">
								<div class="col-md-12">
									<div class="col-md-6">
										<button type="button" class="btn btn-default"
											style="color: black;" data-dismiss="modal">Fechar</button>
									</div>
									<div class="col-md-6">
										<a id="btn_confirmacao_exclusao_bolsista"
											class="btn btn-block btn-danger" style="color: black;">Excluir</a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>


	<div id="modal_alterar_periodo_participante"
		class="modal fade bs-example-modal-md" tabindex="-1" role="dialog"
		aria-labelledby="mySmallModalLabel" style="display: none;"
		aria-hidden="true">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title">Alterar período de participação</h4>
				</div>
				<div class="modal-body">


					<div class="panel panel-info">
						<div class="panel-wrapper collapse in" aria-expanded="true">
							<div class="panel-body">
								<form id="alterar_periodo_participante" method="POST"
									th:action="@{#}">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label">Nome</label> <input
													id="nomeParticipanteAlteracaoPeriodo" class="form-control"
													type="text" disabled="disabled" />
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label">Função</label> <input
													id="funcaoParticipanteAlteracaoPeriodo"
													class="form-control" type="text" disabled="disabled" />
											</div>
										</div>
									</div>

									<div class="row">
										<h3>Tempo de Participação</h3>

										<div class="col-md-6">
											<div class="form-group">

												<label>* Data de início</label> <input
													id="data_inicio_participacao_alterar_periodo"
													required="required" data-mask="99/99/9999" name="inicio"
													class="form-control date" /> <span
													class="font-13 text-muted">Data limite para início:
													<small th:text="${acao.parseData(acao.inicio)}"></small>
												</span>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>* Data de término</label><input required="required"
													id="data_termino_participacao_alterar_periodo"
													data-mask="99/99/9999" name="termino"
													class="form-control date" /> <span
													class="font-13 text-muted">Data limite para término:
													<small th:text="${acao.parseData(acao.termino)}"></small>
												</span>
											</div>
										</div>
									</div>

									<div class="form-actions text-right">

										<button type="button" class="btn btn-default"
											data-dismiss="modal">Fechar</button>
										<button type="submit" class="btn btn-success">
											<i class="fa fa-check"></i> Alterar
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>


	<div id="modal_exclusao_participacao"
		class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
		aria-labelledby="mySmallModalLabel" style="display: none;"
		aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title">Deseja realmente excluir esse
						participante?</h4>
				</div>
				<div class="modal-body">
					<div class="panel panel-info">
						<div class="panel-wrapper collapse in" aria-expanded="true">
							<div class="panel-body">
								<div class="col-md-12">
									<div class="col-md-6">
										<button type="button" class="btn btn-default"
											style="color: black;" data-dismiss="modal">Fechar</button>
									</div>
									<div class="col-md-6">
										<a id="btn_confirmacao_exclusao_participacao"
											class="btn btn-block btn-danger" style="color: black;">Excluir</a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>



	<div id="bolsista-modal" class="modal fade" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" aria-hidden="true">×</button>
					<h4 class="modal-title">Adicionar Novo Bolsista</h4>
				</div>
				<div class="modal-body">


					<div class="panel panel-info">
						<div class="panel-wrapper collapse in" aria-expanded="true">
							<div class="panel-body">
								<form th:action="@{/bolsa/cadastrar/{acao}(acao=${acao.id})}"
									th:object="${bolsa}" method="POST">
									<div class="form-body">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="control-label">* Tipo Bolsa</label> <select
														id="tipo" class="form-control" th:field="${bolsa.tipo}">
														<option th:each="t : ${tipoBolsa}"
															th:text="${t.descricao}" th:value="${t}"></option>
													</select>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="control-label">* Aluno</label> <select
														id="bolsista" class="form-control" th:field="*{bolsista}">
														<option th:each="a : ${alunos}" th:text="${a.pessoa.nome}"
															th:value="${a.id}"></option>
													</select> <span class="help-block"> Selecione o aluno </span>

												</div>
											</div>
											<div class="row col-md-12">
												<h3>Tempo de Participação</h3>

												<div class="col-md-6">
													<div class="form-group">

														<label>* Data de início</label> <input required="required"
															data-mask="99/99/9999"
															th:value="${acao.parseData(acao.inicio)}" name="inicio"
															class="form-control date" /> <span
															class="font-13 text-muted">Data limite para
															início: <small th:text="${acao.parseData(acao.inicio)}"></small>
														</span>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>* Data de término</label><input required="required"
															name="termino" data-mask="99/99/9999"
															th:value="${acao.parseData(acao.termino)}"
															class="form-control date" /> <span
															class="font-13 text-muted">Data limite para
															término: <small th:text="${acao.parseData(acao.termino)}"></small>
														</span>
													</div>
												</div>
											</div>
										</div>
										<div class="form-actions pull-right">
											<button type="submit" class="btn btn-success">
												<i class="fa fa-check"></i> Adicionar
											</button>
											<button type="button" class="btn btn-default"
												data-dismiss="modal">Fechar</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>