<div class="white-box" th:fragment="linhadotempo">
	<h3 class="box-title m-b-0">Linha do tempo</h3>
	
            <section class="cd-horizontal-timeline loaded">
                <div class="timeline">
                  <div class="events-wrapper">
                    <div class="events" style="width: 1800px;">
                      <ol>
                        <li><a href="#0" data-date="" class="older-event selected" style="left: 120px;">Nova</a></li>
                        <li><a href="#0" data-date="" class="" style="left: 300px;" class="">Aguardando</a></li>
                        <li><a href="#0" data-date="" class="" style="left: 480px;">Aprovada</a></li>
                        <li><a href="#0" data-date="" class="" style="left: 660px;">Aguardando</a></li>
                        <li><a href="#0" data-date="" class="" style="left: 840px;">Encerrada</a></li>
                      </ol>
					 <span class="filling-line" aria-hidden="true" style="transform: scaleX(0.0777778);"></span>
                    </div> <!-- .events -->
                  </div> <!-- .events-wrapper -->

                
                </div> <!-- .timeline -->

            </section>

</div>