<div class="white-box" th:fragment="parcerias">
	<h3 class="box-title m-b-0">Parcerias</h3>
	<table id="parcerias" class="table table-hover">
		<thead>
			<tr>
				<th>Instituição</th>
				<th data-toogle="tooltip" title="Gera Demanda">GD</th>
				<th data-toogle="tooltip" title="Participa na Definição de Ações">DA</th>
				<th data-toogle="tooltip"
					title="Fornece Instalações e/ou Equipamentos">IE</th>
				<th data-toogle="tooltip" title="Participa do Financiamento">FI</th>
				<th data-toogle="tooltip" title="Outras formas">OF</th>
				<th th:if="${acao.coordenador.nome == pessoaLogada.getNome()}"
					data-toogle="tooltip" title="Excluir">Excluir</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="parceria : ${acao.parceriasExternas}">

				<td th:text="${parceria.parceiro.nome}"></td>
				<td><span
					th:class="${parceria.geraDemanda} ? 'fa fa-check' : 'fa fa-times'"></span>
				</td>
				<td><span
					th:class="${parceria.definicaoAcoes} ? 'fa fa-check' : 'fa fa-times'"></span>
				</td>
				<td><span
					th:class="${parceria.equipamento} ? 'fa fa-check' : 'fa fa-times'"></span>
				</td>
				<td><span
					th:class="${parceria.financiamento} ? 'fa fa-check' : 'fa fa-times'"></span>
				</td>
				<td><span th:unless="${parceria.outrasFormas}"
					class="fa fa-times"></span> <span th:if="${parceria.outrasFormas}"
					th:text="${parceria.descricaoOutrasFormas}"></span></td>
				<td th:if="${acao.coordenador.nome == pessoaLogada.getNome()}"><a
				    class="sa-warning btn btn-block btn-danger"
					th:attr="link_exclusao= @{/parceria/excluir/{id}/{acao}(id=${parceria.id},acao=${acao.id})}">EXCLUIR</a></td>


			</tr>
		</tbody>
	</table>
	<div class="text-right">
		<a th:if="${acao.coordenador.nome == pessoaLogada.getNome()}"
			class="btn btn-primary waves-effect waves-light m-t-10"
			data-toggle="modal" data-target="#parceria-modal">Nova Parceria</a>
	</div>
	<div id="modal_exclusao_parceria" class="modal fade bs-example-modal-sm"
		tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
		style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title">Deseja realmente excluir essa
						parceria?</h4>
				</div>
				<div class="modal-body">
					<div class="panel panel-info">
						<div class="panel-wrapper collapse in" aria-expanded="true">
							<div class="panel-body">
								<div class="col-md-12">
									<div class="col-md-6">
										<button type="button" class="btn btn-default"
											style="color: black;" data-dismiss="modal">Fechar</button>
									</div>
									<div class="col-md-6">
										<a id="btn_confirmacao_exclusao_parceria"
											class="btn btn-block btn-danger" style="color: black;">Excluir</a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div id="parceria-modal" class="modal fade" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title">Adicionar Nova Parceria Externa</h4>
				</div>
				<div class="modal-body">
					<div class="panel panel-info">
						<div class="panel-wrapper collapse in" aria-expanded="true">
							<div class="panel-body">
								<form
									th:action="@{/parceria/salvar/{idAcao}(idAcao=${acao.id})}"
									th:object="${parceriaExterna}" method="POST">
									<div class="form-body">


										<div class="row">
											<div class="col-md-6">
												<div class="form-group">

													<div class="iradio_square-red">
														<input class="check" id="novoParcitipante"
															name="square-radio" data-radio="iradio_square-red"
															type="radio" /> <label for="novo" class="">Novo
															Parceiro</label>
													</div>

												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<div class="iradio_square-red checked">
														<input class="check" id="parcitipanteExistente"
															name="square-radio" data-radio="iradio_square-red"
															type="radio" /> <label for="existente" class="">Parceiro
															Existente</label>
													</div>
												</div>
											</div>
										</div>

										<div class="row" id="parceiros">
											<label>* Parceiros</label>
											<div class="col-md-12">
												<div class="form-group">
													<select disabled="disabled" id="parceiro"
														class="form-control" name="parceiro">
														<option th:each="p : ${parceiros}" th:text="${p.nome}"
															th:value="${p.id}"></option>
													</select>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label>* Nome</label> <input id="nomeParceiro"
														disabled="disabled"
														th:field="${parceriaExterna.parceiro.nome}"
														class="form-control" type="text" required="required" />
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="control-label">* Tipo</label> <select
														disabled="disabled" id="tipoParceiro" class="form-control"
														th:field="${parceriaExterna.parceiro.tipo}">
														<option th:each="t : ${tipoParceria}"
															th:text="${t.descricao}" th:value="${t}"></option>
													</select>
												</div>
											</div>

										</div>

										<div class="row">
											<label>* Informações da Parceria</label>
											<div class="input-group">

												<ul class="icheck-list">
													<li><input name="insercao" class="check"
														id="geraDemanda" type="checkbox" th:field="*{geraDemanda}" /><label>Gera
															Demanda</label></li>
												</ul>

												<ul class="icheck-list">
													<li><input name="insercao" class="check"
														id="definicaoAcoes" type="checkbox"
														th:field="*{definicaoAcoes}" /><label>Define
															Ações</label></li>
												</ul>

												<ul class="icheck-list">
													<li><input name="insercao" class="check"
														id="equipamento" type="checkbox" th:field="*{equipamento}" /><label>Equipamento</label></li>
												</ul>

												<ul class="icheck-list">
													<li><input name="insercao" class="check"
														id="financiamento" type="checkbox"
														th:field="*{financiamento}" /><label>Financiamento</label></li>
												</ul>

												<ul class="icheck-list">
													<li><input name="insercao" class="check"
														id="outrasFormas" type="checkbox"
														th:field="*{outrasFormas}" /><label>Outras formas</label>
														<input required="required" id="descricaoOutrasFormas"
														type="text" th:field="*{descricaoOutrasFormas}"
														disabled="disabled" /></li>

												</ul>

											</div>

											<div class="col-md-12"></div>

										</div>


										<div class="row text-right">
											<div class="form-actions">
												<button disabled="disabled" id="adcParceria" type="submit"
													class="btn btn-success">
													<i class="fa fa-check"></i> Adicionar
												</button>
												<button type="button" data-dismiss="modal"
													class="btn btn-default">Fechar</button>

											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


