<div class="white-box" th:fragment="dados-basicos">

	<h3 class="box-title" th:text="${acao.titulo}"></h3>
	<h3 th:text="${mensagem}"></h3>
	<div class="row">
		<div class="col-sm-4">
			<label>Coordenador(a)</label>
			<p th:text="${acao.coordenador.nome}"></p>
		</div>
		<div class="col-sm-2">
			<label>Modalidade</label>
			<p th:text="${acao.modalidade.descricao}"></p>
		</div>

		<div class="col-sm-2">
			<label>Identificador</label>
			<p th:text="${acao.identificador}" />
		</div>
		<div class="col-sm-2">
			<label>Código PREX</label>
			<p th:text="${acao.codigo} ? ${acao.codigo} : '-'"></p>
		</div>
		<div class="col-sm-2">
			<label>Prorrogável</label>
			<p th:text="${acao.prorrogavel} ? 'SIM' : 'NÃO'"></p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4">
			<label>Status:</label>
			<p th:text="${acao.status.descricao}"></p>
		</div>
		<div class="col-sm-2">
			<label>Início</label>
			<p
				th:text="${acao.inicio} ? ${#dates.format(acao.inicio, 'dd/MM/yyyy')} : '-'" />
		</div>
		<div class="col-sm-2">
			<label>Término</label>
			<p id="dataTermino"
				th:text="${acao.termino} ? ${#dates.format(acao.termino, 'dd/MM/yyyy')} : '-'" />
		</div>
		<div class="col-sm-2">
			<label>Bolsas solicitadas</label>
			<p
				th:text="${acao.bolsasSolicitadas} ? ${acao.bolsasSolicitadas} : '0'" />
		</div>
		<div class="col-sm-2">
			<label>Bolsas recebidas</label>
			<p th:text="${acao.bolsasRecebidas} ? ${acao.bolsasRecebidas} : '0'" />
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4">
			<label>Número do processo</label>
			<p th:text="${acao.numeroProcesso} ? ${acao.numeroProcesso} : '-'" />
		</div>
		<div class="col-sm-8">
			<label>Vínculo</label>
			<p th:text="${acao.vinculo} ? ${acao.vinculo.titulo} : '-'" />
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<label>Observações</label>
			<p
				th:text="${acao.observacaoHomologacao} ? ${acao.observacaoHomologacao} : '-'" />
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<label>Resumo</label>
			<p th:text="${acao.resumo} ? ${acao.resumo} : '-'"></p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<label>Arquivo</label> <a
				th:href="@{/documento/download/} + ${acao.anexo.id}"
				download="acao.anexo.nome">
				<p th:text="${acao.anexo.nome} ? ${acao.anexo.nome} : '-'"></p>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="pull-right">
				<a
					th:if="${acao.coordenador.cpf == #authentication.name}"
					href="" alt="default" data-toggle="modal" data-target="#modalTransferir"
					class="btn btn-info waves-effect waves-light m-t-10">Transferir Coordenação</a> 
				
				<a th:if="${(acao.status.name() == 'RESOLVENDO_PENDENCIAS_RELATO' OR acao.status.name() == 'RESOLVENDO_PENDENCIAS_PARECER') AND acao.coordenador.cpf == #authentication.name}" href=""
					th:href="@{/acoes/resolver-pendencia/__${acao.id}__}"
					alt="default" class="btn btn-info waves-effect waves-light m-t-10">Resolver Pendências</a> 
				
				<a sec:authorize="hasAnyAuthority('DIRECAO')"
					th:if="${acao.status.name() == 'AGUARDANDO_HOMOLOGACAO'}" href=""
					alt="default" data-toggle="modal" data-target="#modalHomologar"
					class="btn btn-info waves-effect waves-light m-t-10">Homologar
					Ação</a> 
				
				<a  sec:authorize="hasAnyAuthority('DIRECAO') || hasAnyAuthority('ADMINISTRACAO')"
					th:if="${acao.status.name() == 'APROVADO' AND acao.ativo}"
					href="" alt="default" data-toggle="modal" data-target="#modalBolsasRecebidas"
					class="btn btn-info waves-effect waves-light m-t-10">Bolsas
					Recebidas</a> 
				<a
					th:if="${acao.status.name() == 'APROVADO' AND acao.ativo AND acao.coordenador.cpf == #authentication.name}"
					href="" alt="default" data-toggle="modal"
					data-target="#modalCodigo"
					class="btn btn-info waves-effect waves-light m-t-10">Cadastrar Código</a> 
				
				<a
					th:if="${acao.status.name() == 'NOVO' AND acao.coordenador.cpf == #authentication.name}"
					th:href="@{/acoes/submeter/__${acao.id}__}"
					class="btn btn-info waves-effect waves-light m-t-10">Submeter</a>

				<a 	th:attr="link= @{/acoes/encerrar/{acao}(acao=${acao.id})}, action = encerrar"
					th:if="${acao.status.name() == 'APROVADO' AND pessoaLogada.isDirecao() AND acao.isAtivo()}"
					class="sa-warning btn btn-info waves-effect waves-light m-t-10">Encerrar </a>
				
				<a sec:authorize="hasAnyAuthority('SERVIDOR')"
					th:if="${acao.status.name() == 'NOVO' AND acao.coordenador.cpf == #authentication.name}"
					th:href="@{/acoes/editar/__${acao.id}__}"
					class="btn btn-info waves-effect waves-light m-t-10">Editar</a>
				
				<a sec:authorize="hasAnyAuthority('SERVIDOR')"
					th:if="${acao.status.name()=='NOVO' AND acao.coordenador.cpf == #authentication.name}"
					th:attr="link=@{/acoes/deletar/__${acao.id}__}, action=excluir, redirect = true"
					class="sa-warning btn waves-effect waves-light btn-danger m-t-10">Excluir</a>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<!-- sample modal content -->
		<div id="modalBolsasRecebidas" class="modal fade" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">×</button>
						<h4 class="modal-title" id="myModalLabel">Bolsas Recebidas</h4>
					</div>
					<div class="modal-body">
						<form th:action="@{/bolsa/salvarBolsas/__${acao.id}__}"
							method="POST">
							<div class="form-body">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label for="bolsasRecebidas">Quantidade de Bolsas
												Recebidas</label> <input id="bolsasRecebidas" class="form-control"
												name="bolsasRecebidas" type="number" min="0" required="required"
												pattern="[0-9]+$" />
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group pull-right">
											<input type="submit"
												class="btn btn-info waves-effect waves-light m-t-10"
												value="Salvar" id="sa-success"/>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<!-- sample modal content -->
		<div id="modalCodigo" class="modal fade" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">×</button>
						<h4 class="modal-title" id="myModalLabel">Cadastrar Código
							PREX</h4>
					</div>
					<div class="modal-body">
						<form th:action="@{/acoes/salvarCodigo/__${acao.id}__}"
							method="POST">
							<div class="form-body">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label for="codigoAcao">Código PREX</label> <input
												id="codigoAcao" class="form-control" name="codigoAcao"
												type="text" th:value="${acao.codigo}" required="required" maxlength="17"
												pattern="[a-zA-Z0-9]+$" />
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group pull-right">
											<input type="submit"
												class="btn btn-info waves-effect waves-light m-t-10"
												value="Salvar" />
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<!-- sample modal content -->
		<div id="modalTransferir" class="modal fade" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">×</button>
						<h4 class="modal-title" id="myModalLabel">Transferir
							Coordenação da Ação</h4>
					</div>
					<div class="modal-body">
						<form th:action="@{/acoes/salvarNovoCoordenador/__${acao.id}__}"
							method="POST">
							<div class="form-body">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label for="coordenador">Novo Coordenador</label> <select
												id="coordenador" class="form-control"
												name="idNovoCoordenador">
												<option th:each="servidor : ${servidores}"
													th:value="${servidor.pessoa.id}"
													th:text="${servidor.pessoa.nome}"></option>
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="dataInicio">Data de Início</label> <input
												type="text" id="data-inicio-coordenador" data-mask="99/99/9999" name="dataInicio"
												class="form-control" required="required" />
												<h6 class="error-datas no-display" id="error-data-inicio-coordenador"></h6>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="cargaHoraria">* Carga horária do
												coordenador</label> <input id="cargaHoraria" type="number"
												name="cargaHoraria" class="form-control" required="required"
												min="4" max="16" />
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group pull-right">
											<input type="submit"
												class="btn btn-info waves-effect waves-light m-t-10"
												value="Salvar" />
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div id="modalHomologar" class="modal fade" tabindex="-1"
			role="dialog" aria-labelledby="modalHomologarLabel"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">×</button>
						<h4 class="modal-title" id="myModalLabel">Homologar Resultado
							da Ação</h4>
					</div>
					<div class="modal-body">
						<form th:action="@{/acoes/homologarAcao/__${acao.id}__}"
							method="POST">
							<div class="form-body">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="resultado">Resultado</label> <select
												id="resulado" class="form-control" name="resultado">
												<option value="APROVADO">APROVADO</option>
												<option value="REPROVADO">REPROVADO</option>
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group pull-right">
											<label for="dataHomologacao">Data de Homologação</label> <input
												id="dataHomologacao" name="dataHomologacao" type="text"
												th:value="${#calendars.format(#calendars.createNow(), 'dd/MM/yyyy')}"
												class="form-control date" required="required"
												autocomplete="off" data-mask="99/99/9999" />
												<h6 class="error-datas no-display" id="error-data-homologacao"></h6>
										</div>
										
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label for="observação">Observação</label>
											<textarea name="observacao" class="form-control" rows="5"
												style="resize: none"></textarea>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group pull-right">
											<input type="submit"
												class="btn btn-info waves-effect waves-light m-t-10"
												value="Homologar" />
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>