<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head th:replace="modulos/fragments :: head"></head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		
		<header th:replace="modulos/fragments :: header"></header>
		<aside th:replace="modulos/fragments :: menu"></aside>

		<div class="content-wrapper">
			<section class="content-header">
				<h1>Ações de Extensão</h1>
			</section>
			<section class="content">
				<!-- Linha dos Cards de Status -->
				<div class="row">
					<div onclick="showNaoHomologados()">
        				<div class="col-lg-3 col-xs-6 card">
          					<div class="small-box bg-blue cursor-pointer">
            					<div class="inner">
              						<h3 th:text="${acoesTramitacao.size() + acoesNovas.size()}"></h3>
              						<p>Tramitação</p>
            					</div>
            					<div class="icon">
              						<i class="fa fa-folder-open-o"></i>
            					</div>
          					</div>
        				</div>
        			</div>
        			<div onclick="showHomologados()">
        				<div class="col-lg-3 col-xs-6 card">
          					<div class="small-box bg-aqua cursor-pointer">
            					<div class="inner">
              						<h3 th:text="${acoesHomologadas.size()}"></h3>
              						<p>Homologação</p>
            					</div>
            					<div class="icon">
              						<i class="fa fa-folder-o"></i>
            					</div>
          					</div>
        				</div>
        			</div>
        			<div onclick="showParecer()">
        				<div class="col-lg-3 col-xs-6 card">
          					<div class="small-box bg-aqua cursor-pointer">
            					<div class="inner">
              						<h3 th:text="${acoesParecerRelator.size() + acoesParecerTecnico.size()}"></h3>
              						<p>Parecer</p>
            					</div>
            					<div class="icon">
              						<i class="fa fa-folder-o"></i>
            					</div>
          					</div>
        				</div>
        			</div>
        			<div onclick="showParticipacao()">
        				<div class="col-lg-3 col-xs-6 card">
          					<div class="small-box bg-aqua cursor-pointer">
            					<div class="inner">
              						<h3 th:text="${acoesParticipacao.size()}"></h3>
              						<p>Participação</p>
            					</div>
            					<div class="icon">
              						<i class="fa fa-folder-o"></i>
            					</div>
          					</div>
        				</div>
        			</div>
      			</div>
      			
				<div class="row tramitacao">
                    <div class="col-xs-12">
                        <div class="box box-info">
                            <div class="box-header">
                                <h3>Tramitação</h3>
                            </div>
                            <div class="box-body">
      							<table border="1" class="table-acoes table table-striped table-bordered">
								<thead>
	    							<tr>
	      								<th>TÍTULO</th>
	      								<th>MODALIDADE</th>
	      								<th>STATUS</th>
	      								<th>INÍCIO</th>
	      								<th>TÉRMINO</th>
	      								<th></th>
	    							</tr>
	  							</thead>
	  							<tbody>
	  								<tr th:each="acao : ${acoesTramitacao}" th:class="${acao.status}">
	  									<td><a th:href="@{/detalhes/} + ${acao.id}" title="Detalhes da ação" th:text="${acao.titulo}"></a></td>
	  									<td th:text="${acao.modalidade}"></td>
	  									<td th:text="${acao.status}"></td>
	  									<td th:text="${#dates.format(acao.inicio, 'dd/MM/yyyy')}"></td>
	  									<td th:text="${#dates.format(acao.termino, 'dd/MM/yyyy')}"></td>
	  									<td class="acoes" align="center">
											<a title="Resolver Pendências" th:href="@{/detalhes/} + ${acao.id}" th:class="${acao.status}" hidden="true">
												<button class="btn btn-primary btn-xs"><i class="fa fa-exclamation-triangle"></i></button>
											</a>
										</td>
	  								</tr>
	  							</tbody>
	  							</table>
	  						</div>
	  					</div>
	  				</div>
	  			</div>
	  			<div class="row novos">
                    <div class="col-xs-12">
                        <div class="box box-info">
                            <div class="box-header">
                                <h3>Novas</h3>
                            </div>
                            <div class="box-body">
      							<table border="1" class="table-acoes table table-striped table-bordered">
								<thead>
	    							<tr>
	      								<th>TÍTULO</th>
	      								<th>MODALIDADE</th>
	      								<th>STATUS</th>
	      								<th>INÍCIO</th>
	      								<th>TÉRMINO</th>
	    							</tr>
	  							</thead>
	  							<tbody>
	  								<tr th:each="acao : ${acoesNovas}">
	  									<td><a th:href="@{/detalhes/} + ${acao.id}" title="Detalhes da ação" th:text="${acao.titulo}"></a></td>
	  									<td th:text="${acao.modalidade}"></td>
	  									<td th:text="${acao.status.descricao}"></td>
	  									<td th:text="${#dates.format(acao.inicio, 'dd/MM/yyyy')}"></td>
	  									<td th:text="${#dates.format(acao.termino, 'dd/MM/yyyy')}"></td>
	  								</tr>
	  							</tbody>
	  							</table>
	  						</div>
	  					</div>
	  				</div>
	  			</div>
	  			<div class="row homologados">
                    <div class="col-xs-12">
                        <div class="box box-info">
                            <div class="box-header">
                                <h3>Homologadas</h3>
                            </div>
                            <div class="box-body">
      							<table border="1" class="table-acoes table table-striped table-bordered">
								<thead>
	    							<tr>
	      								<th>TÍTULO</th>
	      								<th>MODALIDADE</th>
	      								<th>STATUS</th>
	      								<th>INÍCIO</th>
	      								<th>TÉRMINO</th>
	    							</tr>
	  							</thead>
	  							<tbody>
	  								<tr th:each="acao : ${acoesHomologadas}">
	  									<td><a th:href="@{/detalhes/} + ${acao.id}" title="Detalhes da ação" th:text="${acao.titulo}"></a></td>
	  									<td th:text="${acao.modalidade}"></td>
	  									<td th:text="${acao.status.descricao}"></td>
	  									<td th:text="${#dates.format(acao.inicio, 'dd/MM/yyyy')}"></td>
	  									<td th:text="${#dates.format(acao.termino, 'dd/MM/yyyy')}"></td>
	  								</tr>
	  							</tbody>
	  							</table>
	  						</div>
	  					</div>
	  				</div>
	  			</div>
	  			<div class="row parecerRelator">
                    <div class="col-xs-12">
                        <div class="box box-info">
                            <div class="box-header">
                                <h3>Parecer Relator</h3>
                            </div>
                            <div class="box-body">
      							<table border="1" class="table-acoes table table-striped table-bordered">
								<thead>
	    							<tr>
	      								<th>TÍTULO</th>
	      								<th>MODALIDADE</th>
	      								<th>STATUS</th>
	      								<th>INÍCIO</th>
	      								<th>TÉRMINO</th>
	    							</tr>
	  							</thead>
	  							<tbody>
	  								<tr th:each="acao : ${acoesParecerRelator}">
	  									<td><a th:href="@{/detalhes/} + ${acao.id}" title="Detalhes da ação" th:text="${acao.titulo}"></a></td>
	  									<td th:text="${acao.modalidade}"></td>
	  									<td th:text="${acao.status.descricao}"></td>
	  									<td th:text="${#dates.format(acao.inicio, 'dd/MM/yyyy')}"></td>
	  									<td th:text="${#dates.format(acao.termino, 'dd/MM/yyyy')}"></td>
	  								</tr>
	  							</tbody>
	  							</table>
	  						</div>
	  					</div>
	  				</div>
	  			</div>
	  			<div class="row parecerTecnico">
                    <div class="col-xs-12">
                        <div class="box box-info">
                            <div class="box-header">
                                <h3>Parecer Técnico</h3>
                            </div>
                            <div class="box-body">
      							<table border="1" class="table-acoes table table-striped table-bordered">
								<thead>
	    							<tr>
	      								<th>TÍTULO</th>
	      								<th>MODALIDADE</th>
	      								<th>STATUS</th>
	      								<th>INÍCIO</th>
	      								<th>TÉRMINO</th>
	    							</tr>
	  							</thead>
	  							<tbody>
	  								<tr th:each="acao : ${acoesParecerTecnico}">
	  									<td><a th:href="@{/detalhes/} + ${acao.id}" title="Detalhes da ação" th:text="${acao.titulo}"></a></td>
	  									<td th:text="${acao.modalidade}"></td>
	  									<td th:text="${acao.status.descricao}"></td>
	  									<td th:text="${#dates.format(acao.inicio, 'dd/MM/yyyy')}"></td>
	  									<td th:text="${#dates.format(acao.termino, 'dd/MM/yyyy')}"></td>
	  								</tr>
	  							</tbody>
	  							</table>
	  						</div>
	  					</div>
	  				</div>
	  			</div>
	  			<div class="row participacao">
                    <div class="col-xs-12">
                        <div class="box box-info">
                            <div class="box-header">
                                <h3>Participação</h3>
                            </div>
                            <div class="box-body">
      							<table border="1" class="table-acoes table table-striped table-bordered">
								<thead>
	    							<tr>
	      								<th>TÍTULO</th>
	      								<th>MODALIDADE</th>
	      								<th>STATUS</th>
	      								<th>INÍCIO</th>
	      								<th>TÉRMINO</th>
	    							</tr>
	  							</thead>
	  							<tbody>
	  								<tr th:each="acao : ${acoesParticipacao}">
	  									<td><a th:href="@{/detalhes/} + ${acao.id}" title="Detalhes da ação" th:text="${acao.titulo}"></a></td>
	  									<td th:text="${acao.modalidade}"></td>
	  									<td th:text="${acao.status.descricao}"></td>
	  									<td th:text="${#dates.format(acao.inicio, 'dd/MM/yyyy')}"></td>
	  									<td th:text="${#dates.format(acao.termino, 'dd/MM/yyyy')}"></td>
	  								</tr>
	  							</tbody>
	  							</table>
	  						</div>
	  					</div>
	  				</div>
	  			</div>
			</section>
		</div>
		<footer th:replace="modulos/fragments :: footer"></footer>
	</div>
</body>
</html>
