body {
    background: url("/public-resources/login-back.jpg") no-repeat center center fixed;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-box {
    position: fixed;
    width: 40%;
    left: 30%;
    top: 15%;
}

.login-box-title {
    background-color: #247BA0;
    color: #FFF;
    padding-top: 15px;
}

.login-box-body {
    padding: 60px 50px;
    color: #000;
}