<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="base/base">

<head>
	<title>Extensão - Servidor</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="row bg-title">
	        <!-- .page title -->
	        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
	            <h4 class="page-title">Detalhes</h4>
	        </div>
	        <!-- /.page title -->
	    </div>
	    <div class="row">
	        <div class="col-xs-12">
				<div class="white-box" th:fragment="detalhes-servidor">
				    <h3 class="box-title m-b-0" th:text="${servidor.pessoa.nome}"></h3>
					<table id="acoes" class="table row-border">
						<thead>
							<tr>
								<th>Ação de Extensão</th>
								<th>Modalidade</th>
								<th>Status</th>
								<th>Período</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="acao : ${acoes}">
								<td>
									<a th:href="@{/acoes/__${acao.id}__}" th:text="${acao.titulo}"></a>
									<span th:if="${acao.coordenador eq servidor.pessoa}" class="label label-primary ml-10">coordenador(a)</span>
								</td>
								<td th:text="${acao.modalidade.descricao}"></td>
								<td th:text="${acao.status.descricao}"></td>
								<td th:text="${#dates.format(acao.inicio, 'dd/MM/yyyy')} + ' a ' + ${#dates.format(acao.termino, 'dd/MM/yyyy')}"></td>
							</tr>
						</tbody>
					</table>
				</div>
	        </div>
	    </div>
	</section>
	
	<section layout:fragment="js">
		<script>
	        $('#acoes').dataTable({
	            language: {
	                "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Portuguese-Brasil.json"
	            },
				paging: false,
				searching: false,
	            order: [[ 0, "asc" ]]
	        });
		</script>
	</section>
</body>

</html>