<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="modulos/fragments :: head"></head>

<body class="hold-transition skin-blue sidebar-mini fixed">
	<div class="wrapper">
		<div th:replace="modulos/fragments :: header"></div>
		<div th:replace="modulos/fragments :: menu"></div>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Main content -->
			<section class="content">
				<input id="acaoExtensaoId" type="hidden" th:value="${acaoExtensao.id}"/>
				
				<!-- Mensagens -->
            	<div th:if="${message}" class="alert alert-success alert-dismissible">
         			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
         			<h4><i class="icon fa fa-check"></i></h4>
         			<p th:text="${message}"></p>
       			</div>
       			
				<!-- Box visualização das Pendências -->
				<div th:if="(${acaoExtensao.status.name() == 'RESOLVENDO_PENDENCIAS_PARECER'} AND (${#authentication.name == acaoExtensao.parecerTecnico.responsavel.cpf} OR ${#authentication.name == acaoExtensao.coordenador.cpf})) OR
						(${acaoExtensao.status.name() == 'RESOLVENDO_PENDENCIAS_RELATO'} AND (${#authentication.name == acaoExtensao.parecerRelator.responsavel.cpf} OR ${#authentication.name == acaoExtensao.coordenador.cpf}))" class="box box-warning">
					<div class="box-header with-border">
						<h3 class="box-title">Pendências</h3>
						
						<div th:if="${#authentication.name == acaoExtensao.coordenador.cpf}" class="box-tools pull-right">
							<a th:href="@{/submeter/} + ${acaoExtensao.id}" class="btn btn-warning btn-sm">Resolver pendências</a>
						</div>
					</div>
					
					<div id="pendencias-body" class="box-body">
						<div id="accordion" class="box-group">
							<div th:class="${pendencia.resolvida} ? 'panel box box-success' : 'panel box box-danger'" th:each="pendencia : ${pendencias}">
								<div class="box-header">
									<h3 class="box-title">
										<a th:attr="aria-expanded= ! ${pendencia.resolvida}" data-toggle="collapse" data-parent="#accordion" 
											th:href="'#pendencia' + ${pendencia.id}" th:text="${#dates.format(pendencia.dataDeSolicitacao, 'dd/MMM/yyyy')}"></a>
									</h3>
								</div>
								<div th:id="'pendencia' + ${pendencia.id}" th:class="${pendencia.resolvida} ? 'panel-collapse collapse' : 'panel-collapse collapse in'"
									th:text="${pendencia.descricao}" th:attr="aria-expanded= ! ${pendencia.resolvida}"></div>
							</div>
						</div>
					</div>
				</div><!-- Box visualização das Pendências -->
            	
            	<!-- Box detalhes  -->
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title" th:text="${acaoExtensao.titulo}"></h3>
					</div>
					<div id="box-details" class="box-body with-border">
						<div class="row">
							<div class="col-sm-6">
								<ul class="list-inline">
									<li>
										<label>Coordenador</label>
										<div th:text="${acaoExtensao.coordenador.nome}"></div>
									</li>
									<li>
										<div th:switch="${acaoExtensao.status.descricao}">
										<i th:case="APROVADO" class="fa fa-pencil-square-o" aria-hidden="true" 
										 title="Editar" data-toggle="modal" data-target="#editarcoordenador"></i>
									</div>
									</li>
								</ul>
							</div>
							<div class="col-sm-6">
								<label>Status:</label>
								<div>
									<span class="label label-primary" th:text="${acaoExtensao.status.descricao}"></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<label>Identificador</label>
								<div th:text="${acaoExtensao.identificador}"></div>
							</div>
							<div class="col-sm-3">
								<label>Código</label>
								<div th:text="${acaoExtensao.codigo}">
									<form action="#" th:action="@{/salvarcodigo/}+${acaoExtensao.id}" method="post" id="codigo-form">
										<input type="text" id="input-codigo" name="codigoAcao" />
									</form>
									<div th:switch="${acaoExtensao.status.descricao}">
										<i th:case="APROVADO" id="editar-codigo" class="fa fa-pencil-square-o" aria-hidden="true" 
											data-toggle="tooltip" title="Editar"></i>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<label>Prorrogável</label>
								<div th:if="${acaoExtensao.prorrogavel} != null" th:switch="${acaoExtensao.prorrogavel}">
									<div th:case="true">Sim</div>
									<div th:case="false">Não</div>
								</div>
							</div>
							<div class="col-sm-3">
								<label>Vinculo</label>
								<div th:if="${acaoExtensao.vinculo} != null" th:text="${acaoExtensao.vinculo.identificador}"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<label>Início</label>
								<div th:if="${acaoExtensao.inicio} != null" th:text="${#dates.format(acaoExtensao.inicio, 'dd/MM/yyyy')}"></div>
							</div>
							<div class="col-sm-3">
								<label>Término</label>
								<div th:if="${acaoExtensao.termino} != null" th:text="${#dates.format(acaoExtensao.termino, 'dd/MM/yyyy')}"></div>
							</div>
							<div class="col-sm-3">
								<label>Bolsas solicitadas</label>
								<div th:if="${acaoExtensao.bolsasSolicitadas} != null" th:text="${acaoExtensao.bolsasSolicitadas}"></div>
							</div>
							<div class="col-sm-3">
								<label>Bolsas recebidas</label>
								<div id="bolsas-recebidas" th:text="${acaoExtensao.bolsasRecebidas}">
									<form action="#" th:action="@{/salvarbolsas/}+${acaoExtensao.id}" method="post"
										id="bolsas-form">
										<input id="input-bolsas" type="number" min="0"
											name="bolsasRecebidas" pattern="[0-9]+" />
									</form>
									<div th:switch="${acaoExtensao.status.descricao}">
										<i th:case="APROVADO" id="editar-bolsas" class="fa fa-pencil-square-o" aria-hidden="true"
											data-toggle="tooltip" title="Editar"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<label>Resumo</label>
								<div th:if="${acaoExtensao.resumo} != null" th:text="${acaoExtensao.resumo}"></div>
							</div>
						</div>
						<div class="row">
                            <div class="col-sm-12">
                                <label>Arquivo</label>
                                <div th:if="${acaoExtensao.anexo} != null">
                                    <a th:href="@{/documento/download/} + ${acaoExtensao.anexo.id}" th:text="${acaoExtensao.anexo.nome}"></a>
                                </div>
                            </div>
                        </div>
					</div>
					<div class="box-footer">
						
						<button th:if="${#authentication.name == acaoExtensao.coordenador.cpf} AND ${acaoExtensao.status.name() == 'NOVO'}"
							 class="btn btn-danger btn-flat pull-right" data-toggle="modal" data-target="#modalexcluir">Excluir</button>
						<a th:if="${#authentication.name == acaoExtensao.coordenador.cpf} AND (${acaoExtensao.status.name() == 'NOVO'} or ${acaoExtensao.status.name() == 'RESOLVENDO PENDÊNCIAS DO PARECER'} or ${acaoExtensao.status.name() == 'RESOLVENDO RESTRIÇÕES DO RELATO'})"
							class="btn btn-primary btn-flat pull-right" th:href="@{/editar/} + ${acaoExtensao.id}">Editar</a>
						<a th:if="${acaoExtensao.status.descricao == 'NOVO'}" class="btn btn-success btn-flat pull-right"
							th:href="@{/submeter/} + ${acaoExtensao.id}">Submeter</a>
					</div>
				</div> <!-- Box detalhes  -->
      			
      			<!-- Participações -->
      			<div class="box box-primary">
      				<div class="box-header with-border">
      					<h3 class="box-title">Participações</h3>
      				</div>
					<div class="text-center col-md-6 col-md-offset-3">
						<div id="divSucesso" class="alert alert-success alert-dismissible" hidden="true">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							<h4><i class="icon fa fa-check"></i> Sucesso!</h4>
							<p>Participação Cadastrada com Sucesso</p>
						</div>
						<div id="divError" class="alert alert-danger alert-dismissible" hidden="true">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							<h4><i class="icon fa fa-ban"></i> Erro!</h4>
						</div>
					</div>
      				<div class="box-body">
      					<form class="col-md-6 dt-center" id="formNovaParticipacao" method="post" th:object="${novaParticipacao}" role="form">
							<div class="box-header with-border ">
								<h4 class="box-tittle text-center">Adicionar Nova Participação</h4>
							</div>
							<div>
								<div class="form-group">
									<label for="funcao"><span>*</span>Função</label>
									<select id="selectFuncao" name="funcaoSelect" class="form-control" required="required" th:field="*{funcao}">
										<option value="">A Selecionar...</option>
										<option th:each="funcao : ${funcoes}" th:value="${funcao}" th:text="${funcao.descricao}"/>
									</select>
								</div>
								
								<div class="funcaoOutra form-group">
									<label for="descricaoFuncao"><span>*</span>Descrição da Função</label>
									<input id="descricaoFuncao" name="descricaoFuncao" class="form-control" th:field="*{descricaoFuncao}" type="text"/>
								</div>
								
								<div id="divSelectPessoa" class="form-group">
									<label for="participante">Participante</label>
									<select id="selectPessoa" name="selectParticipante" class="form-control" th:field="*{participante}">
										<option value="" selected="selected">A Selecionar...</option>
									</select>
								</div>
								
								<div class="funcaoOutra form-group">
									<label for="nomeParticipante"><span>*</span>Nome do Participante</label>
									<input id="nomeParticipante" type="text" name="nomeParticipante" class="form-control" th:field="*{nomeParticipante}" /> 
								</div>
								
								<div class="funcaoOutra form-group">
									<label for="cpfParticipante"><span>*</span>CPF do Participante</label>
									<input id="cpfParticipante" type="text" name="cpfParticipante" class="form-control" th:field="*{cpfParticipante}" pattern="^[0-9]+$"/>
								</div>
								
								<div class="form-group">
									<label for="instituicao"><span>*</span>Instituição</label>
									<select id="selectInstituicao" class="form-control" required="required" th:field="*{instituicao}">
										<option th:each="instituicao : ${instituicoes}" th:value="${instituicao}" th:text="${instituicao.descricao}" />
									</select>
								</div>
								
								<div id="divNomeInstituicao" class="form-group">
									<label for="nomeInstituicao"><span>*</span>Nome da Instituição</label> 
									<input id="nomeInstituicao" type="text" name="nomeInstituicao" class="form-control" th:field="*{nomeInstituicao}" />
								</div>
								
								<div class="form-group">
									<label for="cargaHoraria"><span>*</span>Carga Horária Semanal (hrs)</label>
									<input id="cargaHoraria" type="number" name="cargaHoraria"
										class="form-control" required="required"
										th:field="*{cargaHoraria}" />
								</div>
							</div>
							<div class="box-footer text-center">
								<input id="submitParticipacao" name="salvar" type="submit" class="btn btn-primary btn-flat" value="Salvar" />
								<a id="cancelarNovaParticipacao" class="btn btn-default btn-flat">Cancelar</a>
							</div>
						</form>
						<div class="box-body with-border" id="resultsBlock"></div>
					</div>
					<div class="box-footer">
    					<button id="buttonAdicionarParticipacao" type="button" class="btn btn-primary btn-flat pull-right">Adicionar</button>
    				</div>
      			</div>

				<!-- Parceria Externa -->
   				<div class="box box-primary">
   					<div class="box-header with-border">
						<h3 class="box-title">Parcerias Externas</h3>
   					</div>
   					<div class="box-body" th:replace="detalhes/acao/fragmento-parceria-externa :: parceria-externa">
   						
    				</div>
    				<div class="box-footer">
    					<button class="btn btn-primary btn-flat pull-right" id="adicionarNovaParceriaExterna">Adicionar</button>
    				</div>
   				</div>
      			
      			<!-- Parecer -->
      			<div class="row">
      			
      				<!-- Parecer técnico -->
					<div class="col-md-6 col-xs-12">
						<div class="box box-primary">
						
							<div class="box-header with-border">
								<h3 class="box-title">Parecer Técnico</h3>
							</div><!-- Box header -->
							
							<div class="box-body">
								<div th:if="${acaoExtensao.parecerTecnico == null}">
									<div th:replace="detalhes/acao/fragments-detalhes-parecer :: nenhum-parecer"></div>
								</div>
								<div  th:unless="${acaoExtensao.parecerTecnico == null}">
									<div th:replace="detalhes/acao/fragments-detalhes-parecer :: parecer-tecnico"></div>
								</div>
							</div><!-- Box body -->
							
							<div id="parecer-tecnico-acoes" class="box-footer with-border"
								 th:if="${acaoExtensao.status.name() == 'AGUARDANDO_PARECER_TECNICO'} AND (${#authentication.name == acaoExtensao.parecerTecnico.responsavel.cpf} OR ${#authorization.expression('hasAuthority(''DIRECAO'')')})">
								
								<div class="btn-group pull-right">
										<a 	sec:authorize="hasAuthority('DIRECAO')" th:if="${acaoExtensao.status.name() == 'AGUARDANDO_PARECER_TECNICO'}"
											id="alterar-parecerista-button" class="btn btn-warning btn-flat" href="#parecer-tecnico-form" title="Alterar parecerista da ação">Alterar parecerista</a>
										
										<a 	th:if="${acaoExtensao.status.name() == 'AGUARDANDO_PARECER_TECNICO'} AND ${#authentication.name == acaoExtensao.parecerTecnico.responsavel.cpf}"
											th:id="pendencias-parecer-button" class="btn btn-warning btn-flat" href="#pendencias-parecer-form" title="Solicitar resolução de pendências">Adicionar pendência</a>
										
										<a 	th:if="${acaoExtensao.status.name() == 'AGUARDANDO_PARECER_TECNICO'} AND ${#authentication.name == acaoExtensao.parecerTecnico.responsavel.cpf}"
											id="emitir-parecer-button" class="btn btn-success btn-flat" href="#emitir-parecer-form" title="Emitir parecer da ação">Emitir parecer</a>
								</div>
							</div><!-- Box footer -->
						</div><!-- Box parecer técnico -->
					</div><!-- Parecer técnico -->


                    <!-- Parecer relator -->
                    <div class="col-md-6 col-xs-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Parecer do Relator</h3>
                            </div>
                            
                            <div class="box-body">
                            	<div th:if="${acaoExtensao.parecerRelator == null}">
                        			<div th:replace="detalhes/acao/fragments-detalhes-parecer :: nenhum-parecer"></div>
                        		</div>
                        		<div th:unless="${acaoExtensao.parecerRelator == null}">
                        			<div th:replace="detalhes/acao/fragments-detalhes-parecer :: parecer-relator"></div>
                        		</div>
                            </div><!-- Box body -->
                            
                            <div id="parecer-relator-acoes" class="box-footer with-border"
                            	 th:if="${acaoExtensao.status.name() == 'AGUARDANDO_PARECER_RELATOR'} AND (${#authentication.name == acaoExtensao.parecerRelator.responsavel.cpf} OR ${#authorization.expression('hasAuthority(''DIRECAO'')')})">
									
								<div class="btn-group pull-right">
									<a  sec:authorize="hasAuthority('DIRECAO')" th:if="${acaoExtensao.status.name() == 'AGUARDANDO_PARECER_RELATOR'}"
										id="alterar-relator-button" class="btn btn-warning btn-flat" href="#parecer-relator-form" title="Alterar relator da ação">Alterar relator</a>
									
									<a  th:if="${acaoExtensao.status.name() == 'AGUARDANDO_PARECER_RELATOR'} AND ${#authentication.name == acaoExtensao.parecerRelator.responsavel.cpf}"
										id="pendencias-relato-button" class="btn btn-warning btn-flat" href="#pendencias-relato-form" title="Solicitar resolução de pendências">Adicionar pendência</a>
									
									<a  th:if="${acaoExtensao.status.name() == 'AGUARDANDO_PARECER_RELATOR'} AND ${#authentication.name == acaoExtensao.parecerRelator.responsavel.cpf}"
										id="emitir-relato-button" class="btn btn-success btn-flat" href="#emitir-relato-form" title="Emitir o parecer da ação">Emitir parecer</a>
								</div>
									
                            </div><!-- Box footer -->
                        </div>
                    </div><!-- Parecer do relator -->
                </div>
			</section>
			<!-- /.content -->
		</div>
		
		<!-- Modal excluir parceria -->
		<div class="modal fade" id="confirm-delete-parceria-externa">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Excluir Parceria Externa</h4>
              </div>
              <div class="modal-body">
              	<p>Tem certeza que deseja excluir essa parceria?</p>
              </div>
              <div class="modal-footer">
              	<input type="hidden" id="deleteParceriaHiddenId" name="deleteParceriaHiddenId" value="" />
              	<input type="hidden" id="deleteParceriaTableIndex" name="deleteParceriaTableIndex" value="" />
                <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-primary btn-ok" id="deleteParceriaHiddenBtn">Confirmar</a>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        
        <!-- Modal excluir participação -->
        <div class="modal fade" id="confirm-delete-participacao">
        	<div class="modal-dialog">
            	<div class="modal-content">
             		<div class="modal-header">
                		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  		<span aria-hidden="true">×</span></button>
                		<h4 class="modal-title">Excluir Participação</h4>
              		</div>
              		<div class="modal-body">
              			<p>Tem certeza que deseja excluir essa participação?</p>
              		</div>
              		<div class="modal-footer">
              			<input type="hidden" id="deleteParticipacaoHiddenId" name="deleteParticipacaoHiddenId" value="" />
                		<button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Cancelar</button>
                		<a class="btn btn-primary btn-ok" id="deleteParticipacaoHiddenBtn">Confirmar</a>
              		</div>
            	</div>
            <!-- /.modal-content -->
          	</div>
          <!-- /.modal-dialog -->
        </div>
		
		<!-- Modal vincular bolsista -->
		<div class="modal fade" id="vincular-bolsista">
        	<div class="modal-dialog">
            	<div class="modal-content">
             		<div class="modal-header">
                		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  		<span aria-hidden="true">×</span></button>
                		<h4 class="modal-title">Vincular Bolsita</h4>
              		</div>
              		<div class="modal-body">
              			<label for="participante">Bolsista</label>
						<select id="selectBolsista" name="selectBolsista" class="form-control">
						</select>
              		</div>
              		<div class="modal-footer">
              			<input type="hidden" id="participacaoHiddenId" name="participacaoHiddenId" value="" />
                		<button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Cancelar</button>
                		<a class="btn btn-primary btn-ok" id="vincularBolsistaHiddenBtn">Confirmar</a>
              		</div>
            	</div>
            <!-- /.modal-content -->
          	</div>
          <!-- /.modal-dialog -->
        </div>

		<!-- Modal excluir ação -->
		<div id="modalexcluir" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Excluir Ação</h4>
					</div>
					<div class="modal-body">
						<h5>Tem certeza que deseja excluir esta ação?</h5>
					</div>
					<div class="modal-footer">
						
							<a th:href="@{/deletar/__${acaoExtensao.id}__}" class="btn btn-success"
							>Sim</a>
		
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
					</div>
				</div>

			</div>
		</div>
		
		<div id="editarcoordenador" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Editar coordenador</h4>
					</div>
					<div class="modal-body">
						<form action="#" th:action="@{/salvarNovoCoordenador/}+${acaoExtensao.id}" method="post">
							<label class="col-sm-3">Novo:</label>
							<Select class="col-sm-9 form-control" name = "idNovoCoordenador" required="required">
								<option value="">Selecionar novo coordenador</option>
								<option th:each="coordenador: ${possiveisCoordenadores}" th:value="${coordenador.id}" th:text="${coordenador.nome}"></option>
							</Select>
							
							<label class="col-sm-3">Data de inicio:</label>
							<input name="dataInicio" type="date" class="col-sm-3" required="required" id="dtCoordenadorInicio"/>
							<label class="col-sm-3">Data de término:</label>
							<input name="dataTermino" type="date" class="col-sm-3" required="required" id="dtCoordenadorTermino"/>
							<div class="modal-footer">
								<input type="submit" class="btn btn-success" value="Salvar"/>
								<button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
							</div>
							
						</form>	
						
					</div>
				</div>

			</div>
		</div>
		
		
		
		<footer th:replace="modulos/fragments :: footer"></footer>
	</div>
	<!-- ./wrapper -->
</body>
</html>