<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="modulos/fragments :: head">
	
</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
	
		<div th:replace="modulos/fragments :: header"></div>
		<div th:replace="modulos/fragments :: menu"></div>
		
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1> Detalhes Ação Extensão</h1>
			</section>

			<!-- Main content -->
			<section class="content">
            	
      			<div class="box box-widget">
      				<div class="box-header with-border">
      					<ul class=" col-sm-6 list-inline">
      							<li>
      								<label>Título:</label>
      							</li>
      							<li>
      								<h4 th:text="${acaoExtensao.titulo}"></h4>
      							</li>
      					</ul>
      					<ul class=" col-sm-6 list-inline">
      							<li>
      								<label>Coordenador:</label>
      							</li>
      							<li>
      								<h4 th:text="${acaoExtensao.coordenador.nome}"></h4>
      							</li>
      					</ul>
      					<ul class="col-sm-6 list-inline">
      						<li>
      							<label>Código:</label>
      						</li>
      						<li>

      							<h4 id="codigo-acao" th:text="${acaoExtensao.codigo}"></h4>
      							<form action="#" th:action="@{/salvarcodigo/}+${acaoExtensao.id}"  method="post" id="codigo-form">
      								<input type="text" id="input-codigo" name="codigoAcao"/>
      							</form>
      							
      						</li>
      						<li th:switch="${acaoExtensao.status.descricao}">
      							<i th:case="APROVADO" id="editar-codigo" class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="tooltip" title="Editar"></i>
      							
      						</li>
      					</ul>
      					<ul class="col-sm-6 list-inline">
      						<li>
 	     						<label>Identificador:</label>
 	     					</li>
 	     					<li>
      							<h4 th:text="${acaoExtensao.identificador}"></h4>
      						</li>
      					</ul>
      					<ul class="col-sm-12 list-inline">
      						<li>
      							<label>Resumo:</label>
      						</li>
      						<li>	
      							<h4 th:if="${acaoExtensao.resumo} !=null" th:text="${acaoExtensao.resumo}"></h4>
      						</li>
      					</ul>
      					
      				</div>
      				<div class="box-body with-border">
      					<ul class="col-sm-6 list-inline">
      						<li>
      							<label>Início:</label>
      						</li>
      						<li>
      							<h4 th:if="${acaoExtensao.inicio} != null" th:text="${#dates.format(acaoExtensao.inicio, 'dd/MM/yyyy')}"></h4>
      						</li>
      					</ul>
      					<ul class="col-sm-6 list-inline">
      						<li>
      							<label>Término:</label>
      						</li>
      						<li>
      							<h4 th:if="${acaoExtensao.termino} != null" th:text="${#dates.format(acaoExtensao.termino, 'dd/MM/yyyy')}"></h4>
      						</li>
      					</ul>
      					<ul class="col-sm-6 list-inline" >
      						<li>
      							<label>Prorrogável:</label>
      						</li>
      						<li>
      							<div th:if="${acaoExtensao.prorrogavel} != null" th:switch="${acaoExtensao.prorrogavel}">
      								<h4 th:case="true">Sim</h4>
      								<h4 th:case="false">Não</h4>
      							</div>
      							
      						</li>
      					</ul>
      					<ul class=" col-sm-6 list-inline">
      						<li>
      							<label>Status:</label>
      						</li>
      						<li>
      							<h4 th:text="${acaoExtensao.status}"></h4>
      						</li>
      					</ul>
      					<ul class=" col-sm-3 list-inline">
      						<li>
      							<label>Vinculo:</label>
      						</li>
      						<li>
      							<h4 th:if="${acaoExtensao.vinculo} != null" th:text="${acaoExtensao.vinculo}"></h4>
      						</li>
      					</ul>
      					<ul class=" col-sm-3 list-inline">
      						<li>
      							<label>Bolsas solicitadas:</label>
      						</li>
      						<li>
      							<h4 th:if="${acaoExtensao.bolsasSolicitadas} != null" th:text="${acaoExtensao.bolsasSolicitadas}"></h4>
      						</li>
      					</ul>
      					<ul class=" col-sm-3 list-inline">
      						<li>
      							<label>Bolsas recebidas:</label>
      						</li>
      						<li>
      							<h4 id="bolsas-recebidas" th:text="${acaoExtensao.bolsasRecebidas}"></h4>
      							<form action="#" th:action="@{/salvarbolsas/}+${acaoExtensao.id}"  method="post" id="bolsas-form">
      								<input id="input-bolsas" type="number" min="0" name="bolsasRecebidas" pattern="[0-9]+"/>
      							</form>
      							
      						</li>
      						<li th:switch="${acaoExtensao.status.descricao}">
      							<i th:case="APROVADO" id="editar-bolsas" class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="tooltip" title="Editar"></i>
      						</li>
      					</ul>
      					<ul class=" col-sm-6 list-inline">
      						<li>
      							<label>Bolsas solicitadas:</label>
      						</li>
      						<li>
      							<h4 th:text="${acaoExtensao.bolsasSolicitadas}"></h4>
      						</li>
      					</ul>
      					<ul class=" col-sm-6 list-inline">
      						<li>
      							<label>Data de homologação:</label>
      						</li>
      						<li>
      							<h4 th:if="${acaoExtensao.dataDeHomologacao} != null" th:text="${#dates.format(acaoExtensao.dataDeHomologacao, 'dd/MM/yyyy')}"></h4>
      						</li>
      					</ul>
      					<ul class=" col-sm-6 list-inline">
      						<li>
      							<label>Vinculo:</label>
      						</li>
      						<li>
      							<h4 th:text="${acaoExtensao.vinculo}"></h4>
      						</li>
      					</ul>	
      				</div>
      				<div class="box-footer">
      					<ul class=" col-sm-4 list-inline">
      						<li>
      							<label>Anexo:</label>
      						</li>
      						<li>
      							<h4 th:if="${acaoExtensao.anexo} != null"><a th:text="${acaoExtensao.anexo.nome}"></a></h4>
      						</li>
      					</ul>
      				</div>
      				
      				
      			</div>
    			
    			<div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">Parecer Técnico</h3>
                            </div>
                            <div class="box-body">
                                <div th:if="${acaoExtensao.parecerTecnico != null}">
                                    <dl class="dl-horizontal">
                                        <dt>Parecerista:</dt>
                                        <dd th:text="${acaoExtensao.parecerTecnico.responsavel.nome}"></dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Data da atribuição:</dt>
                                        <dd
                                            th:text="${#dates.format(acaoExtensao.parecerTecnico.dataAtribuicao, 'dd/MM/yyyy')}"></dd>

                                        <dt>Prazo estimado:</dt>
                                        <dd
                                            th:text="${#dates.format(acaoExtensao.parecerTecnico.prazo, 'dd/MM/yyyy')}"></dd>

                                        <dt>Data da realização:</dt>
                                        <dd
                                            th:text="${#dates.format(acaoExtensao.parecerTecnico.dataRealizacao, 'dd/MM/yyyy')}"></dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Posicionamento:</dt>
                                        <dd
                                            th:text="${acaoExtensao.parecerTecnico.posicionamento.descricao}"></dd>

                                        <dt>Parecer:</dt>
                                        <dd th:text="${acaoExtensao.parecerTecnico.parecer}"></dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Arquivo:</dt>
                                    </dl>
                                </div>
                                
                                <div th:if="${acaoExtensao.status.descricao == 'AGUARDANDO PARECERISTA'}">
                                    <form th:action="@{/direcao/parecerista/} + ${acaoExtensao.id}" method="post">
                                        <select id="select-pareceristas" required="required">
                                            <option th:each="parecerista : ${pareceristas}" th:value="${parecerista.id}" th:text="${parecerista.nome}"/>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div><!-- Parecer técnico -->


                    <div class="col-md-6 col-xs-12">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">Parecer do Relator</h3>
                            </div>
                            <div class="box-body">
                            	<div th:if="${acaoExtensao.parecerRelator != null}">
                                    <dl class="dl-horizontal">
                                        <dt>Parecerista:</dt>
                                        <dd th:text="${acaoExtensao.parecerRelator.responsavel.nome}"></dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Data da atribuição:</dt>
                                        <dd
                                            th:text="${acaoExtensao.parecerRelator.dataAtribuicao} ? ${#dates.format(acaoExtensao.parecerRelator.dataAtribuicao, 'dd/MM/yyyy')} : '-'"></dd>

                                        <dt>Prazo estimado:</dt>
                                        <dd
                                            th:text="${acaoExtensao.parecerRelator.prazo} ? ${#dates.format(acaoExtensao.parecerRelator.prazo, 'dd/MM/yyyy')} : '-'"></dd>

                                        <dt>Data da realização:</dt>
                                        <dd
                                            th:text="${acaoExtensao.parecerRelator.dataRealizacao} ? ${#dates.format(acaoExtensao.parecerRelator.dataRealizacao, 'dd/MM/yyyy')} : '-'"></dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Posicionamento:</dt>
                                        <dd
                                            th:text="${acaoExtensao.parecerRelator.posicionamento} ? ${acaoExtensao.parecerRelator.posicionamento.descricao} : '-'"></dd>

                                        <dt>Parecer:</dt>
                                        <dd th:text="${acaoExtensao.parecerRelator.parecer} ? ${acaoExtensao.parecerRelator.parecer} : '-'"></dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Arquivo:</dt>
                                        <dd th:text="${acaoExtensao.parecerRelator.arquivo} ? ${acaoExtensao.parecerRelator.arquivo.nome} : '-'"></dd>
                                    </dl>
                                </div>
                                <div th:if="${acaoExtensao.status.descricao == 'AGUARDANDO RELATOR'}">
                                	<div class="alert alert-warning alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <i class="icon fa fa-warning"></i>
                                        <span>Nenhum relator atribuído.</span>
                                    </div>
	                                	<form class="form-horizontal" th:object="${parecerRelator}" th:action="@{/direcao/relator/} + ${acaoExtensao.id}" method="post">
	                                		<div class="col md-12">
		                                		<div class="form-group">
		                                			<label class="control-label col-md-5" for="select-relatores"> Selecione um relator:</label>
		                                        	<select id="select-relatores" th:field="*{responsavel}" required="required">
		                                            	<option th:each="relator : ${relatores}" th:value="${relator.id}" th:text="${relator.nome}"/>
		                                        	</select>
		                                        </div>
		                                        <div class="form-group">
		                                        	<label class="control-label col-md-5" for="prazo-relator"> Prazo para o parecer:</label>
		                                        	<input type="date" id="prazo-relator" class="prazo-parecer" required="required" th:field="*{prazo}" />
		                                        </div>
		                                        <div class="form-group">
		                                        	<input type="submit" class="btn btn-info center-block" value="Atribuir" title="Atribuir relator"/>
		                                    	</div>
	                                    	</div>
	                                    </form>
                                </div>
								<div th:if="${acaoExtensao.status.descricao == 'AGUARDANDO PARECER'}">
									<form class="form-horizontal" th:object="${acaoExtensao}" enctype="multipart/form-data" th:action="@{/emitirParecer}" method="post">
										<input type="hidden" th:value="${acaoExtensao.id}" th:field="*{id}" />
										<div class="col md-12">
											<div class="form-group">
												<label class="control-label col-md-4" for="posicionamento-relator">Posicionamento:</label>
												<select id="select-posicionamento" th:field="*{parecerRelator.posicionamento}" required="required">
													<option id="favoravel" value="FAVORAVEL">Favorável</option>
													<option id="nao-favoravel" value="NAO_FAVORAVEL">Não Favorável</option>
												</select>
											</div>
											<div class="form-group">
												<label class="control-label col-md-4" for="comentarios-relator">Parecer:</label>
												<textarea rows="4" cols="40" id="comentarios-relator" th:field="*{parecerRelator.parecer}" required="required"></textarea>
											</div>
											<div class="form-group">
												<label class="control-label col-md-4" for="arquivo-relator">Arquivo:</label>
												<input type="file" id="arquivo-relator" name="arquivo-relator"/>
											</div>
											<div class="form-group">
		                                        	<input type="submit" class="btn btn-info center-block" value="Submeter" title="Submeter parecer"/>
		                                    </div>
										</div>
									</form>
								</div>                               
                            </div>
                        </div>
                    </div><!-- Parecer do relator -->
                </div>
                
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<footer th:replace="modulos/fragments :: footer"></footer>
	</div>
	<!-- ./wrapper -->
</body>
</html>
