<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="modulos/fragments :: head">
	
</head>

<body class="hold-transition skin-blue sidebar-mini">

	<div class="wrapper">

		<div th:replace="modulos/fragments :: header"></div>
		<div th:replace="modulos/fragments :: menu"></div>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->

			<!-- Main content -->
			<section class="content">
				<input id="acaoExtensaoId" type="hidden" th:value="${acaoExtensao.id}"/>
            	
				<div class="box box-widget">
					<div class="box-header with-border">
						<div class="row" th:if="${homologado} == true">
          					<div class="col-xs-12">
            					<div class="box box-solid box-success">
              						<div class="box-header">
                					<h3 class="box-title">Ação de Extensão Homologada Com Sucesso!</h3>
                						<div class="box-tools pull-right">
                  							<button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              							</div>
          							</div>
      							</div>
  							</div>
						</div>
						<table style="width: 100%;">
							<tr>
								<th class="col-xs-12"><h3>Detalhes Ação Extensão</h3></th>
								<th class="col-xs-2"><button class="btn btn-danger"
										data-toggle="modal" data-target="#modalexcluir">
										<i class="fa fa-trash" aria-hidden="true"></i> Excluir Ação
									</button></th>
							</tr>
						</table>
					</div>
					<div class="box-header with-border">
						<ul class=" col-sm-6 list-inline">
							<li><label>Título:</label></li>
							<li>
								<h4 th:text="${acaoExtensao.titulo}"></h4>
							</li>
						</ul>
						<ul class=" col-sm-6 list-inline">
							<li><label>Coordenador:</label></li>
							<li>
								<h4 th:text="${acaoExtensao.coordenador.nome}"></h4>
							</li>
						</ul>
						<ul class="col-sm-6 list-inline">
							<li><label>Código:</label></li>
							<li>
								<h4 id="codigo-acao" th:text="${acaoExtensao.codigo}"></h4>
								<form action="#"
									th:action="@{/salvarcodigo/}+${acaoExtensao.id}" method="post"
									id="codigo-form">
									<input type="text" id="input-codigo" name="codigoAcao" />
								</form>
							</li>
							<li th:switch="${acaoExtensao.status.descricao}"><i
								th:case="APROVADO" id="editar-codigo"
								class="fa fa-pencil-square-o" aria-hidden="true"
								data-toggle="tooltip" title="Editar"></i></li>
						</ul>
						<ul class="col-sm-6 list-inline">
							<li><label>Identificador:</label></li>
							<li>
								<h4 th:text="${acaoExtensao.identificador}"></h4>
							</li>
						</ul>
						<ul class="col-sm-12 list-inline">
							<li><label>Resumo:</label></li>
							<li>
								<h4 th:if="${acaoExtensao.resumo} !=null"
									th:text="${acaoExtensao.resumo}"></h4>
							</li>
						</ul>

					</div>
					<div class="box-body with-border">
						<ul class="col-sm-6 list-inline">
							<li><label>Início:</label></li>
							<li>
								<h4 th:if="${acaoExtensao.inicio} != null"
									th:text="${#dates.format(acaoExtensao.inicio, 'dd/MM/yyyy')}"></h4>
							</li>
						</ul>
						<ul class="col-sm-6 list-inline">
							<li><label>Término:</label></li>
							<li>
								<h4 th:if="${acaoExtensao.termino} != null"
									th:text="${#dates.format(acaoExtensao.termino, 'dd/MM/yyyy')}"></h4>
							</li>
						</ul>
						<ul class="col-sm-6 list-inline">
							<li><label>Prorrogável:</label></li>
							<li>
								<div th:if="${acaoExtensao.prorrogavel} != null"
									th:switch="${acaoExtensao.prorrogavel}">
									<h4 th:case="true">Sim</h4>
									<h4 th:case="false">Não</h4>
								</div>

							</li>
						</ul>
						<ul class=" col-sm-6 list-inline">
							<li><label>Status:</label></li>
							<li>
								<h4 th:text="${acaoExtensao.status}"></h4>
							</li>
						</ul>

						<ul class=" col-sm-6 list-inline">
							<li><label>Bolsas solicitadas:</label></li>
							<li>
								<h4 th:if="${acaoExtensao.bolsasSolicitadas} != null"
									th:text="${acaoExtensao.bolsasSolicitadas}"></h4>
							</li>
						</ul>
						<ul class=" col-sm-6 list-inline">
							<li><label>Bolsas recebidas:</label></li>
							<li>
								<h4 id="bolsas-recebidas"
									th:text="${acaoExtensao.bolsasRecebidas}"></h4>
								<form action="#"
									th:action="@{/salvarbolsas/}+${acaoExtensao.id}" method="post"
									id="bolsas-form">
									<input id="input-bolsas" type="number" min="0"
										name="bolsasRecebidas" pattern="[0-9]+" />
								</form>

							</li>
							<li th:switch="${acaoExtensao.status.descricao}"><i
								th:case="APROVADO" id="editar-bolsas"
								class="fa fa-pencil-square-o" aria-hidden="true"
								data-toggle="tooltip" title="Editar"></i></li>
						</ul>
						<ul class=" col-sm-6 list-inline">
							<li><label>Data de homologação:</label></li>
							<li>
								<h4 th:if="${acaoExtensao.dataDeHomologacao} != null"
									th:text="${#dates.format(acaoExtensao.dataDeHomologacao, 'dd/MM/yyyy')}"></h4>
							</li>
						</ul>
						<ul class=" col-sm-6 list-inline">
							<li><label>Vinculo:</label></li>
							<li>
								<h4 th:if="${acaoExtensao.vinculo} != null"
									th:text="${acaoExtensao.vinculo}"></h4>
							</li>
						</ul>

					</div>
					<div class="box-footer">
						<ul class=" col-sm-4 list-inline">
							<li><label>Anexo:</label></li>
							<li>
								<h4 th:if="${acaoExtensao.anexo} != null">
									<a th:text="${acaoExtensao.anexo.nome}"></a>
								</h4>
							</li>
						</ul>
					</div>


      			
      			<div class="row">
					<div class="col-xs-12">
						<div class="box box-info">
							<div class="box-header with-border">
								<table>
									<thead>
										<tr>
											<th class="col-xs-10"><h3 class="box-tittle">Participações</h3></th>
											<th class="col-xs-2"><button id="buttonAdicionarParticipacao" type="button" class="btn btn-primary">Adicionar Participação</button></th>
										</tr>									
									</thead>
								</table>
							</div>
							<div class="box-body with-border">
								<div class="col-md-6">
									<div id="adicionarParticipacao">
										<div class="box-header with-border">
											<h4 class="box-tittle text-center">Adicionar Nova Participação</h4>
										</div>
										<form id="formNovaParticipacao" method="post" th:object="${novaParticipacao}" role="form">
											
												<div id="divError" class="alert alert-danger alert-dismissible" hidden="true">
													<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
													<h4><i class="icon fa fa-ban"></i> ERRO!</h4>
												</div>
												<div class="alert alert-warning alert-dismissible" id="funcaoAlert" hidden="true">
													<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
													<h4><i class="icon fa fa-warning"></i> Atenção!</h4>
												</div>
												<div id="divSucesso" class="alert alert-success alert-dismissible" hidden="true">
													<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
													<h4><i class="icon fa fa-check"></i> Sucesso!</h4>
													<p>Participação Cadastrada com Sucesso</p>
												</div>
												<div>
													<div class="form-group">
														<label for="funcao"><span>*</span>Função</label>
														<select id="selectFuncao" name="funcaoSelect" class="form-control" required="required" th:field="*{funcao}">
															<option value="">A Selecionar...</option>
															<option th:each="funcao : ${funcoes}" th:value="${funcao}" th:text="${funcao.descricao}"/>
														</select>
													</div>
													
													<div class="funcaoOutra form-group">
														<label for="descricaoFuncao"><span>*</span>Descrição da Função</label>
														<input id="descricaoFuncao" name="descricaoFuncao" class="form-control" th:field="*{descricaoFuncao}" type="text"/>
													</div>
													
													<div id="divSelectPessoa" class="form-group">
														<label for="participante">Participante</label>
														<select id="selectPessoa" name="selectParticipante" class="form-control" th:field="*{participante}">
															<option value="" selected="selected">A Selecionar...</option>
														</select>
													</div>
													
													<div class="funcaoOutra form-group">
														<label for="nomeParticipante"><span>*</span>Nome do Participante</label>
														<input id="nomeParticipante" type="text" name="nomeParticipante" class="form-control" th:field="*{nomeParticipante}" /> 
													</div>
													
													<div class="funcaoOutra form-group">
														<label for="cpfParticipante"><span>*</span>CPF do Participante</label>
														<input id="cpfParticipante" type="text" name="cpfParticipante" class="form-control" th:field="*{cpfParticipante}" pattern="^[0-9]+$"/>
													</div>
													
													<div class="form-group">
														<label for="instituicao"><span>*</span>Instituição</label>
														<select id="selectInstituicao" class="form-control" required="required" th:field="*{instituicao}">
															<option th:each="instituicao : ${instituicoes}" th:value="${instituicao}" th:text="${instituicao.descricao}" />
														</select>
													</div>
													
													<div id="divNomeInstituicao" class="form-group">
														<label for="nomeInstituicao"><span>*</span>Nome da Instituição</label> 
														<input id="nomeInstituicao" type="text" name="nomeInstituicao" class="form-control" th:field="*{nomeInstituicao}" />
													</div>
													
													<div class="form-group">
														<label for="cargaHoraria"><span>*</span>Carga Horária Semanal (hrs)</label>
														<input id="cargaHoraria" type="number" name="cargaHoraria"
															class="form-control" required="required"
															th:field="*{cargaHoraria}" />
													</div>
												</div>
							
												<div class="box-footer text-center">
													<input id="submitParticipacao" name="salvar" type="submit" class="btn btn-primary" value="Adicionar" />
													<a id="cancelarNovaParticipacao" class="btn btn-warning back">Cancelar</a>
												</div>
										
										</form>
									</div>
								</div>
							</div>
							<div class="box-body with-border" id="resultsBlock">
							</div>
						</div>
					</div>
				</div>
      				

				</div>

				    			<div class="box box-widget">
    				<div class="box-header with-border">
    					<table style="width:100%;">
    						<tr>
    							<th class="col-xs-12"><h3>Parcerias Externas</h3></th>
    							<th class="col-xs-2"><button class="btn btn-primary" id="adicionarNovaParceriaExterna">Adicionar Nova</button></th>
    						</tr>
    					</table>
    				</div>
    				<div class="box-body with-border" id="parceria-externa-form-div" style="display:none;">
    					<form class="col-md-6" role="form" th:object="${parceriaExterna}" method="POST" id="formParceriaExterna">
							<div class="box-body with-border">
								<div class="alert alert-warning alert-dismissible" id="error-parceiro" style="display: none;">
									<button type="button" class="close" data-dismiss="alert"
										aria-hidden="true">×</button>
									<h4>
										<i class="icon fa fa-warning"></i> Atenção!
									</h4>
									<p>Selecionar parceiro</p>
								</div>
								<div class="form-group">
									<label>Instituição Parceira: </label>
									<select class="form-control selectParceiro" id="selectParceiro" th:field="${parceriaExterna.parceiro}" required="required">
										<option value="">Selecionar Parceiro</option>
										<option th:each="par : ${parceiros}" th:value="${par.id}" th:text="${par.nome}"></option>
									</select>
									<br/>
									<button class="btn btn-block btn-primary btn-xs" id="criarNovoParceiro">Criar parceiro</button>
								</div>
								<div class="alert alert-warning alert-dismissible" id="checkBoxAlert" style="display: none;">
									<button type="button" class="close" data-dismiss="alert"
										aria-hidden="true">×</button>
									<h4>
										<i class="icon fa fa-warning"></i> Atenção!
									</h4>
									<p>Necessário escolher uma das opções abaixo.</p>
								</div>
								<div class="form-group">
									<label class="col-sm-8">
									<input type="checkbox" id="geraDemandaFormasCheckBox" name="geraDemanda" th:checked="${parceriaExterna.geraDemanda}" th:field="${parceriaExterna.geraDemanda}"/>
									Gera Demanda</label>
								</div>
								<div class="form-group">
									<label class="col-sm-8">
									<input type="checkbox" id="definicaoAcoesCheckBox" name="definicaoAcoes" th:checked="${parceriaExterna.definicaoAcoes}" th:field="${parceriaExterna.definicaoAcoes}"/>
									Define Ações</label>
								</div>
								<div class="form-group">
									<label class="col-sm-8">
									<input type="checkbox" id="equipamentoFormasCheckBox" name="equipamento" th:checked="${parceriaExterna.equipamento}" th:field="${parceriaExterna.equipamento}"/>
									Fornece Equipamento</label>
									
								</div>
								<div class="form-group">
									<label class="col-sm-8">
									<input type="checkbox" id="financiamentoCheckBox" name="financiamento" th:checked="${parceriaExterna.financiamento}" th:field="${parceriaExterna.financiamento}" />
									Financia</label>
								</div>
								<div class="form-group">
									<label class="col-sm-8">
										<input type="checkbox" id="outrasFormasCheckBox" name="outrasFormas" th:checked="${parceriaExterna.outrasFormas}" th:field="${parceriaExterna.outrasFormas}"/>
										Outras formas
									</label>
								</div>
								<div class="form-group" id="divDescricaoOutrasFormas" style="display: none;">
									<label class="col-sm-5">Descreva outras formas</label>
									<input class="form-control" type="text" id="descricaoOutrasFormas" name="descricaoOutrasFormas" th:field="${parceriaExterna.descricaoOutrasFormas}"/>
								</div>
							</div>
							<div class="box-footer">
								<button id="cancelarAdicaoParceriaExterna" class="btn btn-default pull-left">Cancelar</button>
							    <button id="submitBtnParceriaExternaForm" class="btn btn-primary pull-right">Salvar</button>
							</div>
						</form>
    				</div>
    				<div class="box-body with-border" id="parceiro-form-div" style="display:none;">
						<form class="col-md-6" id="formParceiro" role="form" th:object="${parceiro}" method="POST">
							<div class="box-body with-border">
								<div class="alert alert-warning alert-dismissible" id="error-nome" style="display: none;">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
									<h4> <i class="icon fa fa-warning"></i> Atenção! </h4>
								</div>
								<div class="form-group">
									<label for="nome">Nome da Instituição:</label>
									<input class="form-control" id="nomeParceiro" th:field="*{nome}" type="text" name="nome" />
								</div>
								<div class="alert alert-warning alert-dismissible" id="error-tipo" style="display: none;">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
									<h4><i class="icon fa fa-warning"></i> Atenção!</h4>
									<p>Escolher tipo de instituição!</p>
								</div>
								<div class="form-group">
									<label>Tipo da instituição:</label>
									<div th:each="tipo : ${T(ufc.quixada.npi.gpa.model.Parceiro.Tipo).values()}" class="radio">
										<label><input type="radio" name="tipo" th:value="${tipo}" th:field="${parceiro.tipo}" /></label>
										<span><label th:for="${{tipo}}" th:text="${tipo.descricao}"></label></span>
									</div>
								</div>
								<br />
								<div class="form-group">
								   	<div class="col-lg-10 col-lg-offset-2">
								   		<button id="cancelarAdicaoParceiro" class="btn btn-default pull-left">Cancelar</button>
								       	<button id="submitBtnParceiroForm" class="btn btn-primary pull-right">Salvar</button>
								   	</div>
								</div>
							</div>
						</form>
    				</div>
    				<div class="box-body with-border">
    					<table class="table-parceria-externa table table-striped table-bordered" id="table-participacoes-externas">
							<thead>
								<tr>
									<th>ID</th>
									<th>Nome da Instituição</th>
									<th data-toogle="tooltip" title="Gera Demanda">GD</th>
									<th data-toogle="tooltip" title="Participa na Definição de Ações">DA</th>
									<th data-toogle="tooltip" title="Fornece Instalações e/ou Equipamentos">IE</th>
									<th data-toogle="tooltip" title="Participa do Financiamento">FI</th>
									<th data-toogle="tooltip" title="Outras formas">OF</th>
									<th data-toogle="tooltip" title="Gera Demanda">Descrição de outras formas</th>
									<th></th>
								</tr>
							</thead>
							
							<tbody>
								
								<tr th:each="parceria, rowStat : ${acaoExtensao.parceriasExternas}">
									<td th:text="${rowStat.count}"></td>
									<td th:text="${parceria.parceiro.nome}"></td>
									<td>
										<span th:if="${parceria.geraDemanda}" class="glyphicon glyphicon-ok"></span>
										<span th:if="!${parceria.geraDemanda}" class="glyphicon glyphicon-remove"></span>
									</td>
									<td>
										<span th:if="${parceria.definicaoAcoes}" class="glyphicon glyphicon-ok"></span>
										<span th:if="!${parceria.definicaoAcoes}" class="glyphicon glyphicon-remove"></span></td>
									<td>
										<span th:if="${parceria.equipamento}" class="glyphicon glyphicon-ok"></span>
										<span th:if="!${parceria.equipamento}" class="glyphicon glyphicon-remove"></span></td>
									<td>
										<span th:if="${parceria.financiamento}" class="glyphicon glyphicon-ok"></span>
										<span th:if="!${parceria.financiamento}" class="glyphicon glyphicon-remove"></span>
									</td>
									<td>
										<span th:if="${parceria.outrasFormas}" class="glyphicon glyphicon-ok"></span>
										<span th:if="!${parceria.outrasFormas}" class="glyphicon glyphicon-remove"></span>
									</td>
									<td th:if="${parceria.descricaoOutrasFormas} != ''" th:text="${parceria.descricaoOutrasFormas}"></td>
									<td th:if="${parceria.descricaoOutrasFormas} == ''"><span class="glyphicon glyphicon-minus"></span></td>
									<td data-toogle="tooltip" title="Excluir">
										<a id="excluir-parceria-externa"
											data-toggle="modal"
											data-target="#confirm-delete-parceria-externa"
											th:attr="data-href=${parceria.id}"
											th:attrappend="data-row=${rowStat.index}">
											<i class="glyphicon glyphicon-trash"></i>
										</a>
                            		</td>
								</tr>
							</tbody>
						</table>
    				</div>
    			</div>
      			
      			<div class="row">
					<div class="col-md-6 col-xs-12">
						<div class="box box-info">
							<div class="box-header with-border">
								<h3 class="box-title">Parecer Técnico</h3>
								
								<div th:if="${acaoExtensao.status.descricao == 'AGUARDANDO PARECER TÉCNICO'} AND (${#authentication.name == acaoExtensao.parecerTecnico.responsavel.cpf} OR ${#authorization.expression('hasAuthority(''DIRECAO'')')})"
									id="parecer-tecnico-acoes" class="box-tools pull-right dropdown">
									<a class="dropdown-toggle btn" data-toggle="dropdown" href="#" aria-expanded="false">
										<i class="glyphicon glyphicon-menu-hamburger"></i>
									</a>
									
									<ul class="dropdown-menu">
										
										<li sec:authorize="hasAuthority('DIRECAO')" th:if="${acaoExtensao.status.descricao == 'AGUARDANDO PARECER TÉCNICO'}">
											<a  id="alterar-parecerista-button" href="#parecer-tecnico-form">Alterar parecerista</a>
										</li>
										
										<li th:if="${acaoExtensao.status.descricao == 'AGUARDANDO PARECER TÉCNICO'} AND ${#authentication.name == acaoExtensao.parecerTecnico.responsavel.cpf}">
											<a id="pendencias-parecer-button" href="#pendencias-parecer-form">Solicitar resolução de pendências</a>
										</li>
										
										<li th:if="${acaoExtensao.status.descricao == 'AGUARDANDO PARECER TÉCNICO'} AND ${#authentication.name == acaoExtensao.parecerTecnico.responsavel.cpf}">
											<a id="emitir-parecer-button" href="">Emitir parecer</a>
										</li>
									
									</ul>
								</div>
							</div>
							<div class="box-body">
								
								<div th:if="${acaoExtensao.parecerTecnico == null}">
									
									<div th:replace="detalhes/acao/fragments :: nenhum-parecer"></div>
									
								</div>
								
								<div  th:unless="${acaoExtensao.parecerTecnico == null}">
									
									<div th:replace="detalhes/acao/fragments :: parecer-tecnico"></div>
									
								</div>
								
							</div><!-- Box body -->
						</div><!-- Box parecer técnico -->
					</div><!-- Parecer técnico -->


                    <div class="col-md-6 col-xs-12">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">Parecer do Relator</h3>
                            </div>
                            <div class="box-body">
                            
                            	<div th:if="${acaoExtensao.parecerRelator == null}">
                        			
                        			<div th:replace="detalhes/acao/fragments :: nenhum-parecer"></div>
                        		</div>
                        		
                        		<div th:unless="${acaoExtensao.parecerRelator == null}">
                        			
                        			<div th:replace="detalhes/acao/fragments :: parecer-relator"></div>
                        		</div>
                        		
                            </div><!-- Box body -->
                        </div>
                    </div><!-- Parecer do relator -->
                </div>
			</section>
			<!-- /.content -->
		</div>
		<div class="modal fade" id="confirm-delete-parceria-externa">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Excluir Parceria Externa</h4>
              </div>
              <div class="modal-body">
              	<p>Tem certeza que deseja excluir essa parceria?</p>
              </div>
              <div class="modal-footer">
              	<input type="hidden" id="deleteParceriaHiddenId" name="deleteParceriaHiddenId" value="" />
              	<input type="hidden" id="deleteParceriaTableIndex" name="deleteParceriaTableIndex" value="" />
                <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-primary btn-ok" id="deleteParceriaHiddenBtn">Confirmar</a>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        
        <div class="modal fade" id="confirm-delete-participacao">
        	<div class="modal-dialog">
            	<div class="modal-content">
             		<div class="modal-header">
                		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  		<span aria-hidden="true">×</span></button>
                		<h4 class="modal-title">Excluir Participação</h4>
              		</div>
              		<div class="modal-body">
              			<p>Tem certeza que deseja excluir essa participação?</p>
              		</div>
              		<div class="modal-footer">
              			<input type="hidden" id="deleteParticipacaoHiddenId" name="deleteParticipacaoHiddenId" value="" />
                		<button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Cancelar</button>
                		<a class="btn btn-primary btn-ok" id="deleteParticipacaoHiddenBtn">Confirmar</a>
              		</div>
            	</div>
            <!-- /.modal-content -->
          	</div>
          <!-- /.modal-dialog -->
        </div>
		<!-- /.content-wrapper -->

		<div id="modalexcluir" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Excluir Ação</h4>
					</div>
					<div class="modal-body">
						<h5>Tem certeza que deseja excluir esta ação?</h5>
					</div>
					<div class="modal-footer">
						
							<a th:href="@{/deletar/__${acaoExtensao.id}__}" class="btn btn-success"
							>Sim</a>
		
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
					</div>
				</div>

			</div>
		</div>
		<footer th:replace="modulos/fragments :: footer"></footer>
	</div>
	<!-- ./wrapper -->
</body>
</html>
