<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<div th:fragment="parceria-externa" class="box box-primary">
		<!-- Cabeçalho -->
		<div class="box-header with-border">
	 		<h3 class="box-title">Parcerias</h3>
	  	</div>
		
		<!-- Corpo -->
		<div class="box-body">
			<!-- Formulário de parceria externa -->
 			<form id="formParceriaExterna" role="form" th:object="${parceriaExterna}" method="POST">
				<div class="box-header with-border">
					<h4 class="box-tittle text-center">Adicionar Nova Parceria</h4>
				</div>
				<div class="box-body">
					<div class="alert alert-warning alert-dismissible no-display" id="error-parceiro">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						<h4><i class="icon fa fa-warning"></i> Atenção!</h4>
						<p>Selecionar parceiro</p>
					</div>
					<div class="alert alert-warning alert-dismissible no-display" id="checkBoxAlert">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						<h4><i class="icon fa fa-warning"></i> Atenção!</h4>
						<p>Necessário escolher uma das opções abaixo.</p>
					</div>
					<div class="form-group row">
						<div class="col-lg-8 form-item">
							<label for="funcao" class="control-label">* Intituição Parceira</label>
							<select class="form-control selectParceiro" id="selectParceiro" th:field="${parceriaExterna.parceiro}" required="required">
								<option value="">Selecionar parceiro...</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-lg-3">
							<label class="control-label">
							<input type="checkbox" id="geraDemandaFormasCheckBox" name="geraDemanda" th:checked="${parceriaExterna.geraDemanda}" th:field="${parceriaExterna.geraDemanda}"/>
							Gera Demanda</label>
						</div>
						<div class="col-lg-3">
							<label class="control-label">
							<input type="checkbox" id="definicaoAcoesCheckBox" name="definicaoAcoes" th:checked="${parceriaExterna.definicaoAcoes}" th:field="${parceriaExterna.definicaoAcoes}"/>
							Define Ações</label>
						</div>
						<div class="col-lg-3">
							<label class="control-label">
							<input type="checkbox" id="equipamentoFormasCheckBox" name="equipamento" th:checked="${parceriaExterna.equipamento}" th:field="${parceriaExterna.equipamento}"/>
							Fornece Equipamento</label>
							
						</div>
						<div class="col-lg-3">
							<label class="control-label">
							<input type="checkbox" id="financiamentoCheckBox" name="financiamento" th:checked="${parceriaExterna.financiamento}" th:field="${parceriaExterna.financiamento}" />
							Financia</label>
						</div>
					</div>
					
					<div class="form-group row">
						<div class="col-lg-3">
							<label class="control-label">
							<input type="checkbox" id="outrasFormasCheckBox" name="outrasFormas" th:checked="${parceriaExterna.outrasFormas}" th:field="${parceriaExterna.outrasFormas}"/>
							Outras formas</label>
						</div>
					</div>
					<div class="form-group row">
						<div id="divDescricaoOutrasFormas" class="col-lg-6">
							<label class="control-label">Descreva outras formas</label>
							<input class="form-control" type="text" id="descricaoOutrasFormas" name="descricaoOutrasFormas" th:field="${parceriaExterna.descricaoOutrasFormas}" required="required"/>
						</div>
					</div>
				</div>
				<div class="box-footer text-center">
				    <button id="submitBtnParceriaExternaForm" class="btn btn-primary btn-flat">Salvar</button>
					<button id="cancelarAdicaoParceriaExterna" class="btn btn-default btn-flat">Cancelar</button>
				</div>
			</form>
			
			<!-- Formulário de parceiro -->
			<form id="formParceiro" role="form" th:object="${parceiro}" method="POST">
				<div class="box-header with-border">
					<h4 class="box-tittle text-center">Adicionar Novo Parceiro</h4>
				</div>
				<div class="box-body">
					<div class="alert alert-warning alert-dismissible no-display" id="error-nome">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						<h4> <i class="icon fa fa-warning"></i> Atenção! </h4>
					</div>
					<div class="alert alert-warning alert-dismissible no-display" id="error-tipo">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						<h4><i class="icon fa fa-warning"></i> Atenção!</h4>
						<p>Escolher tipo de instituição!</p>
					</div>
					<div class="form-group row">
						<div class="col-lg-6">
							<label for="nome" class="control-label">* Nome da Instituição:</label>
							<input class="form-control" id="nomeParceiro" th:field="*{nome}" type="text" name="nome" />
						</div>
						<div class="col-lg-6">
							<label class="control-label">* Tipo da instituição:</label>
							<div th:each="tipo : ${T(ufc.quixada.npi.gpa.model.Parceiro.Tipo).values()}">
								<input type="radio" name="tipo" th:value="${tipo}" th:field="${parceiro.tipo}"/>
								<label th:for="${{tipo}}" th:text="${tipo.descricao}"></label>
							</div>
						</div>
					</div>
				</div>
				<div class="box-footer text-center">
					<button id="submitBtnParceiroForm" class="btn btn-primary btn-flat">Salvar</button>
					<button id="cancelarAdicaoParceiro" class="btn btn-default btn-flat">Cancelar</button>
				</div>
			</form>
			
			<!-- Tabela de parcerias -->
			<div th:fragment="table-parceria-externa" th:unless="${#lists.isEmpty(parceriasExternas)}" class="col-md-12 table-responsive">
	 			<table class="table-parceria-externa table table-striped table-bordered" id="table-parcerias-externas">
					<thead>
						<tr>
							<th>Nome da Instituição</th>
							<th data-toogle="tooltip" title="Gera Demanda">GD</th>
							<th data-toogle="tooltip" title="Participa na Definição de Ações">DA</th>
							<th data-toogle="tooltip" title="Fornece Instalações e/ou Equipamentos">IE</th>
							<th data-toogle="tooltip" title="Participa do Financiamento">FI</th>
							<th data-toogle="tooltip" title="Outras formas">OF</th>
							<th data-toogle="tooltip" title="Gera Demanda">Descrição de outras formas</th>
							<th></th>
						</tr>
					</thead>
					
					<tbody>
						
						<tr th:each="parceria, rowStat : ${parceriasExternas}" id="row+${rowStat.count}">
							<td th:text="${parceria.parceiro.nome}"></td>
							<td>
								<span th:if="${parceria.geraDemanda}" class="glyphicon glyphicon-ok"></span>
								<span th:if="!${parceria.geraDemanda}" class="glyphicon glyphicon-remove"></span>
							</td>
							<td>
								<span th:if="${parceria.definicaoAcoes}" class="glyphicon glyphicon-ok"></span>
								<span th:if="!${parceria.definicaoAcoes}" class="glyphicon glyphicon-remove"></span></td>
							<td>
								<span th:if="${parceria.equipamento}" class="glyphicon glyphicon-ok"></span>
								<span th:if="!${parceria.equipamento}" class="glyphicon glyphicon-remove"></span></td>
							<td>
								<span th:if="${parceria.financiamento}" class="glyphicon glyphicon-ok"></span>
								<span th:if="!${parceria.financiamento}" class="glyphicon glyphicon-remove"></span>
							</td>
							<td>
								<span th:if="${parceria.outrasFormas}" class="glyphicon glyphicon-ok"></span>
								<span th:if="!${parceria.outrasFormas}" class="glyphicon glyphicon-remove"></span>
							</td>
							<td th:if="${parceria.descricaoOutrasFormas} != ''" th:text="${parceria.descricaoOutrasFormas}"></td>
							<td th:if="${parceria.descricaoOutrasFormas} == ''"><span class="glyphicon glyphicon-minus"></span></td>
							<td data-toogle="tooltip" title="Excluir">
								<a class="btn btn-danger btn-xs" 
									id="excluir-parceria-externa"
									data-toggle="modal"
									data-target="#confirm-delete-parceria-externa"
									th:attr="data-href=${parceria.id}">
									<i class="fa fa-trash-o"></i>
								</a>
	                         </td>
						</tr>
					</tbody>
				</table>
	 		</div>
	 		
	 		<div id="tableResultsBlock" class="box-body with-border"></div>
		</div>
		
 		<!-- Rodapé -->
 		<div class="box-footer">
			<button th:if="(${#authentication.name == acaoExtensao.coordenador.cpf} OR ${#authorization.expression('hasAuthority(''ADMINISTRACAO'')')})
				AND (${acaoExtensao.status.name() == 'NOVO' OR acaoExtensao.status.name() == 'RESOLVENDO_PENDENCIAS_PARECER' OR acaoExtensao.status.name() == 
				'RESOLVENDO_PENDENCIAS_RELATO' OR acaoExtensao.status.name() == 'APROVADO'})"  
				class="btn btn-primary btn-flat pull-right" id="adicionarNovaParceriaExterna">Adicionar
			</button>
			<button class="btn btn-flat btn-primary pull-right no-display" id="criarNovoParceiro">Criar parceiro</button>
		</div>
		</div>
</html>