<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:if="${acaoExtensao.status.name() == 'APROVADO'}" th:fragment="formBolsa" class="box box-primary">
	<div class="box-header with-border">
 		<h3 class="box-title">Bolsistas</h3>
  	</div>
  	<div class="box-body">
  		<div class="text-center col-md-6 col-md-offset-3">
			<div id="divSucessoBolsa" class="alert alert-success alert-dismissible" hidden="true">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<p>Bolsista Cadastrado com Sucesso</p>
			</div>
			<div id="divErrorBolsa" class="alert alert-danger alert-dismissible" hidden="true">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<h4><i class="icon fa fa-ban"></i> Erro!</h4>
			</div>
		</div>
  		<form id="formNovaBolsa" method="post" th:object="${novaBolsa}" role="form">
			<div class="box-header with-border ">
				<h4 class="box-tittle text-center">Adicionar Novo Bolsista</h4>
			</div>
			<div class="box-body">
				<div class="form-group row">
					<div class="col-lg-6 form-item">
						<label for="tipo" class="control-label">* Tipo de Bolsa</label>
						<select id="selectTipo" class="form-control" required="required" th:field="*{tipo}">
							<option th:each="tipo : ${tipos}" th:value="${tipo}" th:text="${tipo.descricao}"/>
						</select>
					</div>
					<div class="col-lg-6 form-item">
						<label for="cargaHoraria" class="control-label">* Carga Horária Semanal (hrs)</label>
						<input id="cargaHoraria" type="number" name="cargaHorariaBolsista" class="form-control" 
							min="1" max="12" required="required" th:field="*{cargaHoraria}" />
					</div>
				</div>
				
				<div class="form-group row">
					<div class="col-lg-6 form-item">
						<label for="bolsista" class="control-label">Bolsista</label>
						<select id="selectBolsista" name="selectBolsista" class="form-control" th:field="*{bolsista}">
						</select>
					</div>
					<div class="col-lg-3 form-item">
						<label for="inicio" class="control-label">Data de início</label>
						<input id="inicioBolsa" type="text" name="inicio" class="form-control" th:field="*{inicio}" required="required" autocomplete="off" />
					</div>
					<div class="col-lg-3 form-item">
						<label for="termino" class="control-label">Data de término</label>
						<input id="terminoBolsa"  type="text" name="termino" class="form-control" th:field="*{termino}" required="required" autocomplete="off" />
					</div>
				</div>
			</div>
			<div class="box-footer text-center">
				<input id="submitBolsita" name="salvar" type="submit" class="btn btn-info btn-flat" value="Salvar" />
				<a id="cancelarNovoBolsista" class="btn btn-default btn-flat">Cancelar</a>
			</div>
		</form>
		<div class="box-body with-border" id="resultsBlockBolsas"></div>
	</div>
	<div class="box-footer">
		<button th:if="${acaoExtensao.ativo} and (${#authentication.name == acaoExtensao.coordenador.cpf} OR ${#authorization.expression('hasAuthority(''ADMINISTRACAO'')')})" 
			id="buttonAdicionarBolsista" type="button" class="btn btn-info btn-flat pull-right">Adicionar</button>
	</div>
</div>
</html>