<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="modulos/fragments :: head">
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
	<div class="wrapper">
	
		<div th:replace="modulos/fragments :: header"></div>
		<div th:replace="modulos/fragments :: menu"></div>
		
		<div class="content-wrapper">
		
			<section class="content-header"></section>
			
			<section class="content">
			
					<div class="box box-primary">
					
						<div class="box-header with-border">
							<h3 th:if="${action == 'submeter'}" class="box-title">Submeter Ação Extensão</h3>
							<h3 th:if="${action == 'editar'}" class="box-title">Editar Ação Extensão</h3>
							<h3 th:if="${action == 'cadastrar'}" class="box-title">Editar Ação Extensão</h3>
							<input id="action" type="hidden" th:value="${action}"/>
						</div>
						
						<form id="submeterAcaoExtensaoForm" role="form" th:action="@{/} + ${action}" enctype="multipart/form-data" method="POST" th:object="${acaoExtensao}" >
							<input id="acaoExtensaoId" name="id" type="hidden" th:value="${acaoExtensao.id}"/>
							<input id="dedicacaoID" type="hidden" th:value="${dedicacao}"/>
							<div class="box-body">
								<div class="callout callout-danger" th:if="${message}">
					                <h4>Atenção</h4>
					                <p th:text="${message}"></p>
              					</div>
              					<div th:if="${action == 'editar'}" class="form-group">
									<label for="titulo">Identificador</label>
									<input class="form-control" th:field="${acaoExtensao.identificador}" name="identificador" type="text" readonly="readonly"/>
								</div>
								<div class="form-group">
									<label for="titulo">*Título</label>
									<input class="form-control" id="submeter-tituloAcaoExtensao" th:field="${acaoExtensao.titulo}" name="titulo" type="text" required="required"/>
								</div>
								
								<div class="form-group">
									<label>Resumo</label>
									<textarea class="form-control" id="submeter-resumoAcaoExtensao" th:field="${acaoExtensao.resumo}" name="resumo" required="required"></textarea>
								</div>
								
								<label>Data</label>
								<div class="form-group row">
									<div class="col-lg-6" id="sandbox-container">
										<div class="input-group date">
											<span class="input-group-addon">
												<label>Início:</label>
											</span>
											<input id="submeter-dataInicio" th:field="${acaoExtensao.inicio}" type="text" class="form-control" name="inicio" required="required" autocomplete="off" />	
											<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
										</div>
									</div>
									<div class="col-lg-6" id="sandbox-container">
										<div class="input-group date">
											<span class="input-group-addon">
												<label>Término:</label>
											</span>
											<input id="submeter-dataTermino" th:field="${acaoExtensao.termino}" type="text" class="form-control" name="termino" required="required" autocomplete="off" /> 
											<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
										</div>
									</div>
								</div>
								
								<div class="form-group">
                                    <label>Vínculo: </label>
                                    <select class="form-control" id="cadastrarVinculoAcaoExtensao" th:field="${acaoExtensao.vinculo}" name="vinculo">
                                        <option value="">Selecionar Vinculo</option>
                                        <option th:each="vinculo : ${acoesParaVinculo}" th:value="${vinculo.id}" th:text="${vinculo.titulo}"></option>
                                    </select>
                                </div>
								
								<div class="form-group col-lg-6">
									<label>Prorrogável?</label>
									<br/>
									<label class="radio-inline col-xs-5">
										<input type="radio" th:field="${acaoExtensao.prorrogavel}" th:checked="*{prorrogavel == true}" value="true"/>
											SIM
									</label>
									<label class="radio-inline col-xs-5">
										<input type="radio" th:field="${acaoExtensao.prorrogavel}" th:checked="*{prorrogavel == false}" value="false"/>
											NÃO
									</label>
								</div>
								<div class="form-group col-lg-6">
									<label>*Modalidade</label>
									<br/>
									<select class="form-control" id="submeter-modalidadeAcaoExtensao" th:field="${acaoExtensao.modalidade}" name="modalidade" required="required">
										<option th:each="modalidade : ${modalidades}" th:value="${modalidade}" th:text="${modalidade.descricao}"></option>
									</select>
								</div>
								
								<div id="submeter-cargasHorarias">
									<label>Carga Horária</label>
									<div class="form-group row">
										<div class="col-lg-6">
											<div class="input-group date">
												<span class="input-group-addon">
													<label>Horas Práticas:</label>
												</span>
												<input id="submeter-horasPraticas" th:field="${acaoExtensao.horasPraticas}" name="horasPraticas" type="number" min="0" class="form-control"/>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="input-group">
												<span class="input-group-addon">
													<label>Aulas Teóricas:</label>
												</span>
												<input id="submter-horasTeoricas" th:field="${acaoExtensao.horasTeoricas}" name="horasTeoricas" type="number" min="0" class="form-control"/>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group" id="ementaAcaoExtensao">
									<label>Ementa/Conteúdo programático</label>
									<textarea class="form-control" id="submeter-ementaAcaoExtensao" th:field="${acaoExtensao.ementa}" name="ementa" placeholder="Escreva o conteúdo programático/ementa..."></textarea>
								</div>
								
								<div class="form-group" id="programacaoAcaoExtensao">
									<label>Programação</label>
									<textarea class="form-control" id="submeter-programacaoAcaoExtensao" th:field="${acaoExtensao.programacao}" name="programacao" placeholder="Escreva a programação..."></textarea>
								</div>
								<div class="form-group">
									<label for="submeter-anexoAcaoExtensao">Anexo</label>
									<input id="anexoAcao" th:if="${acaoExtensao.anexo} == null" name="anexoAcao" class="file" type="file"/>
									<h4 th:if="${acaoExtensao.anexo} != null">
										<a th:text="${acaoExtensao.anexo.nome}" th:href="@{/documento/download/} + ${acaoExtensao.id}"></a>
										<a id="excluirArquivo" class="btn btn-danger btn-xs"
											data-toogle="tooltip" title="excluir arquivo">
											<i class="fa fa-trash-o"></i>
										</a>
									</h4>
								</div>
								<div th:if="${action == 'cadastrar'}" class="form-group row col-md-6">
									<input id="dedicacaoID" type="hidden" th:value="${dedicacao}"/>
									<label for="cargaHoraria"><span>*</span>Carga Horária Semanal (hrs) do Coordenador</label>
									<input id="cargaHoraria" type="number" name="cargaHoraria"
										class="form-control" required="required"/>
								</div>
							</div>
							
							<div class="box-footer">
								<button id="submeterAcaoExtensao" type="submit" class="btn btn-primary" th:text="${action}" >Submeter</button>
							</div>
							
						</form>
					</div>
			</section> 
		</div>
		<footer th:replace="modulos/fragments :: footer"></footer>
	</div>
</body>
</html>
