<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="modulos/fragments :: head"></head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
	
		<header th:replace="modulos/fragments :: header"></header>
		<aside th:replace="modulos/fragments :: menu"></aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
              	<div class="alert alert-success alert-dismissible" th:if="${message}">
                	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                	<h4><i class="icon fa fa-check"></i></h4>
                	<p th:text="${message}"></p>
              	</div>
			</section>

			<!-- Main content -->
			<section class="content"></section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<footer th:replace="modulos/fragments :: footer"></footer>
	</div>
	<!-- ./wrapper -->
</body>
</html>
