<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-page="papeis-usuarios"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="modulos/fragments :: head"></head>
<body class="hold-transition skin-blue sidebar-mini fixed">
	<div class="wrapper">
		<div th:replace="modulos/fragments :: header"></div>
		<div th:replace="modulos/fragments :: menu"></div>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Main content -->
			<section class="content">
				<div class="box box-primary">
					<div class="box-header with-border">
							<h3 class="box-title">Gerenciar Papéis</h3>
					</div>
					
					<div class="box-body">
						<form th:action="@{/admin/gerenciarPapeis}" role="form" method="get">
							<div class="form-group">
								<label class="control-label">Pessoa:</label>
								<select id="select-pessoa" class="form-control" required="required" name="pessoa">
									<option value="">A Selecionar...</option>
									<option th:each="pessoa : ${pessoas}" th:value="${pessoa.id}" th:text="${pessoa.nome}"></option>
								</select>
							</div>
							<div>
								<button id="btn-gerenciar-pessoa" type="submit" class="btn btn-success btn-flat pull-right">Gerenciar</button>
							</div>
						</form>
						
						<div th:if="${not #strings.isEmpty(pessoa)}">
							<div class="box-header with-border">
								<h3 class="box-title">Gerenciar Pessoa</h3>
							</div>
							<div class="box-body with-border">
								<div class="col-sm-3">
									<label>Nome:</label>
									<div>
										<p th:text="${pessoa.nome}"></p>
									</div>
								</div>
								<div class="col-sm-3">
									<label>Email:</label>
									<div>
										<p th:text="${pessoa.email}"></p>
									</div>
								</div>
							</div>
							
							<div class="box-header with-border">
								<h4 class="box-tittle">Permissões atuais</h4>
							</div>
							
							<form th:action="|@{/admin/salvarPapeis/}${pessoa.id}|" role="form" method="post">
								<div class="form-group">
									<select id="select-papeis-atuais" name="novosPapeis" class="form-control" multiple="multiple">
										<option th:each="papel : ${papeis}" th:text="${papel.descricao}" th:value="${papel}" th:selected="${#lists.contains(papeisPessoa, papel)}"></option>
									</select>
								</div>
								<div class="box-footer">
									<button id="btn-salvar-alteracoes" type="submit" disabled="disabled" class="btn btn-primary btn-flat pull-right">Salvar alterações</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
		</div>
		<footer th:replace="modulos/fragments :: footer"></footer>
	</div>
</body>
</html>