.badge-larger {
    font-size: 20px;
    font-weight: 300;
}

.box-details .row {
    margin-bottom: 25px;
}

.no-display {
    display: none;
}

.right {
    float: right;
}

.left {
    float: left;
}

.ml-10 {
    margin-left: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}