<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base/base">

<head>
<title>Extensão - Alunos</title>
</head>

<div class="container-fluid" layout:fragment="conteudo">
	<br/>
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <div sec:authorize="hasAuthority('ADMINISTRACAO')" class="text-right">
                    <a th:href="@{alunos/atualizar}" class="btn btn-info">Atualizar</a>
                </div>
                <h3 class="box-title m-b-0">Alunos</h3>
                <p class="text-muted m-b-30">Lista de todos os alunos do campus</p>
                <table id="alunos" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Matrícula</th>
                        <th>Curso</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="aluno : ${alunos}">
                        <td><a th:href="@{/alunos/__${aluno.id}__}" th:text="${aluno.pessoa.nome}"></a></td>
                        <td th:text="${aluno.matricula}"></td>
                        <td th:text="${aluno.curso}"></td>
                        <td th:text="${aluno.pessoa.email}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<section layout:fragment="js">
	<script>
		$('#menu-alunos a').addClass("active");
		$('#alunos')
				.dataTable(
						{
							language : {
								"url" : "//cdn.datatables.net/plug-ins/1.10.13/i18n/Portuguese-Brasil.json"
							},
							order : [ [ 0, "asc" ] ]
						});
	</script>
</section>
</html>
