<nav class="navbar navbar-default navbar-static-top m-b-0" th:fragment="navbar">
	<div class="navbar-header">
		<a class="navbar-toggle hidden-sm hidden-md hidden-lg" href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
		<div class="top-left-part">
			<a class="logo" href="">
				<b><img th:src="@{/img/eliteadmin-logo.png}" alt="home" /></b>
				<span class="hidden-xs"><img th:src="@{/img/eliteadmin-text.png}" alt="home" /></span>
			</a>
		</div>
		<ul class="nav navbar-top-links navbar-right pull-right">
			<li class="dropdown">
                <a sec:authorize="hasAnyAuthority('SERVIDOR')" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">
                    <i class="icon-note"></i>
                    <span>Coordenador/Parecerista</span>
                    <div 
                    	th:classappend="${qtdAguardandoParecer > 0 OR qtdPendenciasParecerTecnico > 0 OR
                    	qtdPendenciasParecerRelator > 0} ? notify : none">
                        <span class="heartbit"></span>
                        <span class="point"></span>
                    </div>          
                </a>
                <ul class="dropdown-menu dropdown-tasks animated slideInUp">
                	<li th:if="${qtdAguardandoParecer == 0 AND qtdPendenciasParecerTecnico == 0 AND
                    	qtdPendenciasParecerRelator == 0}">
                    	<a>Não hã notificações!</a>
                   	</li>
                	<li th:if="${qtdAguardandoParecer > 0}"> <a th:text="'Aguardando parecer (' + ${qtdAguardandoParecer} + ')'"></a> </li>
                	<li th:if="${qtdPendenciasParecerTecnico > 0}"> <a th:text="'Resolver pendências parecer tecnico (' + ${qtdPendenciasParecerTecnico} + ')'"></a> </li>
                	<li th:if="${qtdPendenciasParecerRelator > 0}"> <a th:text="'Resolver pendências do relato (' + ${qtdPendenciasParecerRelator} + ')'"></a> </li>
                </ul>
            </li>
            <li class="dropdown">
                <a sec:authorize="hasAnyAuthority('DIRECAO')" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">
                    <i class="icon-note"></i>
                    <span>Direção</span>
                    <div
                    	th:classappend="${qtdAcoesPareceristaRelator > 0 OR qtdAcoesHomologacao > 0} ? notify : none">
                        <span class="heartbit"></span>
                        <span class="point"></span>
                    </div>                
                </a>
                <ul class="dropdown-menu dropdown-tasks animated slideInUp">
                	<li th:if="${qtdAcoesPareceristaRelator == 0 AND qtdAcoesHomologacao == 0}">
                    	<a>Não hã notificações!</a>
                   	</li>
                    <li th:if="${qtdAcoesPareceristaRelator > 0}" sec:authorize="hasAnyAuthority('DIRECAO')"> <a th:text="'Aguardando parecerista/relator (' + ${qtdAcoesPareceristaRelator} + ')'"></a> </li>
                    <li th:if="${qtdAcoesHomologacao > 0}" sec:authorize="hasAnyAuthority('DIRECAO')"> <a th:text="'Aguardando homologação (' + ${qtdAcoesHomologacao} + ')'"></a> </li>
                </ul>
            </li>
			<li class="dropdown">
				<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"><b class="hidden-xs" th:text="${pessoaLogada.getNome()}"></b> <i class="icon-options-vertical"></i></a>
				<ul class="dropdown-menu dropdown-user animated flipInY">
					<li> <a th:href="@{/logout}"> <i class="fa fa-power-off"></i> Sair</a> </li>
				</ul>
			</li>
		</ul>
	</div>
</nav>

<div class="navbar-default sidebar" role="navigation" th:fragment="menu">
	<div class="sidebar-nav navbar-collapse slimscrollsidebar">
		<ul class="nav" id="side-menu">
      <li id="menu-minhas-acoes"> <a th:href="@{/acoes/minhas/minhas-acoes}" class="waves-effect"><span class="hide-menu">Minhas ações</span></a>
	          <ul class="nav nav-second-level collapse">
	            <li> <a th:href="@{/acoes/minhas/minhas-acoes}">Minhas Ações</a> </li>
	            <li> <a th:href="@{/acoes/minhas/aguardando-parecer}">Aguardando Parecer</a> </li>
	            <li> <a th:href="@{/acoes/minhas/pareceres-emitidos}">Pareceres Emitidos</a> </li>
	          </ul>
	        </li>
      <li id="menu-acoes"> <a th:href="@{/acoes/tramitacao}" class="waves-effect"><span class="hide-menu">Ações de Extensão</span></a>
        <ul class="nav nav-second-level collapse">
          <li> <a th:href="@{/acoes/tramitacao}">Em Tramitação</a> </li>
          <li> <a th:href="@{/acoes/andamento}">Em Andamento</a> </li>
          <li> <a th:href="@{/acoes/encerrada}">Encerradas</a> </li>
        </ul>
			</li>
			<li id="menu-cadastrar-acao" sec:authorize="hasAnyAuthority('SERVIDOR')">
				<a th:href="@{/acoes/cadastrar}" class="waves-effect"><span class="hide-menu">Cadastrar Ação</span></a>
			</li>
			<li id="menu-servidores">
				<a th:href="@{/servidores}" class="waves-effect"><span class="hide-menu">Servidores</span></a>
			</li>
			<li id="menu-alunos" sec:authorize="hasAnyAuthority('ADMINISTRACAO, COORDENADORIA')">
				<a th:href="@{/alunos}" class="waves-effect"><span class="hide-menu">Alunos</span></a>
			</li>
			<li id="menu-relatorio" sec:authorize="hasAnyAuthority('ADMINISTRACAO, COORDENADORIA')">
				<a th:href="@{/buscar/acao-extensao}" class="waves-effect"><span class="hide-menu">Relatório</span></a>
			</li>
		</ul>
	</div>
</div>

<!--
<header class="main-header" th:fragment="menu">
	<nav class="navbar navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a th:href="@{/}" class="navbar-brand"><b>GPA</b> EXTENSÃO</a>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
					<i class="fa fa-bars"></i>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="nav navbar-nav">
					<li id="menu-minhas-acoes"><a th:href="@{/acoes/minhas}">Minhas ações</a></li>
					<li id="menu-acoes" ><a th:href="@{/acoes/}">Ações de extensão</a></li>
					<li id="menu-acoes-tramitacao" sec:authorize="hasAuthority('COORDENADORIA')"><a th:href="@{/acoes/tramitacao}">Ações em tramitação</a></li>
					<li id="menu-servidores" ><a th:href="@{/servidores/}">Servidores</a></li>
					<li id="menu-alunos" sec:authorize="hasAnyAuthority('ADMINISTRACAO, COORDENADORIA')"><a th:href="@{/alunos/}">Alunos</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/logout}">Sair</a></li>
				</ul>
			</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;
		</div>&lt;!&ndash; /.container-fluid &ndash;&gt;
	</nav>
</header>-->
