<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="base/base">

<head>
	<title>Extensão - Minhas Ações</title>
</head>

<div class="container-fluid" layout:fragment="conteudo">
    <div class="row bg-title">
        <!-- .page title -->
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title"></h4>
        </div>
        <!-- /.page title -->
        <!-- .breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="#">Dashboard</a></li>
                <li class="active">Starter Page</li>
            </ol>
        </div>
        <!-- /.breadcrumb -->
    </div>  <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <a th:href="@{/acoes/minhas/minhas-acoes}">
                <div class="white-box">
                    <h3 class="box-title text-info">Minhas ações</h3>
                    <ul class="list-inline two-part">
                        <li><i class="ti-loop text-info"></i></li>
                        <li class="text-right text-info"><span class="counter" th:text="${countmeusTudo}"></span></li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <a th:href="@{/acoes/minhas/aguardando-parecer}">
                <div class="white-box">
                    <h3 class="box-title text-success">Aguardando parecer</h3>
                    <ul class="list-inline two-part">
                        <li><i class="icon-clock text-success"></i></li>
                        <li class="text-right text-success"><span class="counter" th:text="${countmeusPareceres}"></span></li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <a th:href="@{/acoes/minhas/pareceres-emitidos}">
                <div class="white-box">
                    <h3 class="box-title text-danger">Pareceres emitidos</h3>
                    <ul class="list-inline two-part">
                        <li><i class="ti-check-box text-danger"></i></li>
                        <li class="text-right text-danger"><span class="counter" th:text="${countmeusPareceresEmitidos}"></span></li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
	
		
     <div class="row">
     	<div class="white-box">
     		
                <h3 th:if="${minhaLista == 'countmeusTudo'}" class="box-title m-b-0">Minhas ações <span class="label label-info m-l-5" th:text="${countmeusTudo}"></span></h3>
                <p th:if="${minhaLista == 'countmeusTudo'}" class="text-muted m-b-30">Ações de extensão que você coordena ou participa </p>
                <h3 th:if="${minhaLista == 'countmeusPareceres'}" class="box-title m-b-0">Aguardando parecer <span class="label label-info m-l-5" th:text="${countmeusPareceres}"></span></h3>
                <p th:if="${minhaLista == 'countmeusPareceres'}" class="text-muted m-b-30">Ações de extensão que estão aguardando seu parecer</p>
                <h3 th:if="${minhaLista == 'countmeusPareceresEmitidos'}" class="box-title m-b-0">Pareceres emitidos <span class="label label-info m-l-5" th:text="${countmeusPareceresEmitidos}"></span></h3>
                <p th:if="${minhaLista == 'countmeusPareceresEmitidos'}" class="text-muted m-b-30">Ações de extensão que você já emitiu parecer</p>
                
                <table id="minhas-acoes" class="table table-hover">
                    <thead>
                        <tr>
                        	<th>Vínculo</th>
                            <th>Título</th>
                            <th>Status</th>
                            <th>Período</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr th:each="acao : ${minhaListaAtual}">
                        	<td>
                                <span th:title="${pessoaLogada eq acao.coordenador ? 'Coordenador(a)' : 'Participante'}" th:class="${pessoaLogada eq acao.coordenador ? 'label label-primary' : 'label label-success'}" th:text="${pessoaLogada eq acao.coordenador ? 'C' : 'P'}">
                                </span>
                            </td>
                            
                            <td><a th:href="@{/acoes/__${acao.id}__}" title="Detalhes da ação" th:text="${acao.titulo}"></a></td>
                            
                             
                            
                            <td>                               
                                <span th:class="${acao.ativo ? acao.status.name() == 'APROVADO' ? 'label label-primary' : 'label label-warning' : 'label label-danger'}"
                                      th:text="${acao.ativo ? acao.status.descricao : 'ENCERRADO'}">
                                </span>
                            </td>
                            <td th:text="${acao.inicio} ? ${#dates.format(acao.inicio, 'dd/MM/yyyy')} + ' a ' +
                                ${#dates.format(acao.termino, 'dd/MM/yyyy')} : '-'">
                            </td>
                           
                        </tr>
                    </tbody>
                </table>
		</div>
       
</div>
    
</div>
<section layout:fragment="js">
    <script>
        $(document).ready(function(){
            $('#menu-minhas-acoes a').addClass("active");
            $('#minhas-acoes').DataTable();
            $('#meus-pareceres').DataTable();
            $('#meus-pareceres-emitidos').DataTable();
        });
    </script>
</section>
</html>