<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="base/base">

<head>
	<title>Extensão - Ações</title>
</head>

<div class="container-fluid" layout:fragment="conteudo">
    <div class="row bg-title">
        <!-- .page title -->
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title"></h4>
        </div>
        <!-- /.page title -->
        <!-- .breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="#">Dashboard</a></li>
                <li class="active">Starter Page</li>
            </ol>
        </div>
        <!-- /.breadcrumb -->
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <a th:href="@{/acoes/tramitacao}">
                <div class="white-box">
                    <h3 class="box-title text-info">Em tramitação</h3>
                    <ul class="list-inline two-part">
                        <li><i class="ti-loop text-info"></i></li>
                        <li class="text-right text-info"><span class="counter" th:text="${tramitacao}"></span></li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <a th:href="@{/acoes/andamento}">
                <div class="white-box">
                    <h3 class="box-title text-success">Em andamento</h3>
                    <ul class="list-inline two-part">
                        <li><i class="icon-clock text-success"></i></li>
                        <li class="text-right text-success"><span class="counter" th:text="${andamento}"></span></li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <a th:href="@{/acoes/encerrada}">
                <div class="white-box">
                    <h3 class="box-title text-danger">Encerradas</h3>
                    <ul class="list-inline two-part">
                        <li><i class="ti-check-box text-danger"></i></li>
                        <li class="text-right text-danger"><span class="counter" th:text="${encerrada}"></span></li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 th:if="${listaAtual == 'tramitacao'}" class="box-title m-b-0">Em tramitação</h3>
                <p th:if="${listaAtual == 'tramitacao'}" class="text-muted m-b-30">Ações de extensão que estão em processo de aprovação</p>
                <h3 th:if="${listaAtual == 'andamento'}" class="box-title m-b-0">Em andamento</h3>
                <p th:if="${listaAtual == 'andamento'}" class="text-muted m-b-30">Ações de extensão aprovadas que estão em andamento</p>
                <h3 th:if="${listaAtual == 'encerrada'}" class="box-title m-b-0">Encerradas</h3>
                <p th:if="${listaAtual == 'encerrada'}" class="text-muted m-b-30">Ações de extensão aprovadas que já foram encerradas</p>
                <table id="acoes" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Coordenador(a)</th>
                            <th>Status</th>
                            <th>Período</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="acao : ${acoes}">
                            <td><a th:href="@{/acoes/__${acao.id}__}" title="Detalhes da ação" th:text="${acao.titulo}"></a></td>
                            <td th:text="${acao.coordenador.nome}"></td>
                            <td>
                                <span th:class="${acao.ativo ? acao.status.name() == 'APROVADO' ? 'label label-primary' : 'label label-warning' : 'label label-primary'}"
                                      th:text="${acao.status.descricao}">
                                </span>
                            </td>
                            <td th:text="${acao.inicio} ? ${#dates.format(acao.inicio, 'dd/MM/yyyy')} + ' a ' +
                                ${#dates.format(acao.termino, 'dd/MM/yyyy')} : '-'">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<section layout:fragment="js">

    <script>
        $('#menu-acoes a').addClass("active");
        $('#acoes').dataTable({
            language: {
                "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Portuguese-Brasil.json"
            },
            order: [[ 2, "asc" ], [0, "asc"]]
        });
    </script>
</section>
</html>
