<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="base/base">

<head>
	<title>Extensão - Ações</title>
</head>

<section layout:fragment="conteudo">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Ações de Extensão <span class="badge badge-larger bg-blue" th:text="${acoes.size()}"></span></h3>
            </div>
            <div class="box-body">
                <form th:action="@{/acoes}" method="get">
                    <div class="form-group col-xs-3">
                        <label>Situação</label>
                        <select class="form-control" name="situacao">
                            <option th:selected="${situacao == 'todas'}" value="todas">TODAS</option>
                            <option th:selected="${situacao == 'tramitacao'}" value="tramitacao">EM TRAMITAÇÃO</option>
                            <option th:selected="${situacao == 'andamento'}" value="andamento">EM ANDAMENTO</option>
                            <option th:selected="${situacao == 'encerrada'}" value="encerrada">ENCERRADAS</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-2">
                        <label></label>
                        <input type="submit" class="form-control btn btn-flat btn-primary" value="Filtrar"/>
                    </div>
                </form>
                <table id="acoes" class="table row-border">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Coordenador(a)</th>
                            <th>Status</th>
                            <th>Período</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="acao : ${acoes}">
                            <td><a th:href="@{/acoes/__${acao.id}__}" title="Detalhes da ação" th:text="${acao.titulo}"></a></td>
                            <td th:text="${acao.coordenador.nome}"></td>
                            <td>
                                <span th:class="${acao.ativo} ? 'label label-primary' : 'label label-warning'"
                                    th:text="${acao.ativo} ? 'EM ANDAMENTO' : 'ENCERRADA'">
                                </span>
                            </td>
                            <td th:text="${acao.inicio} ? ${#dates.format(acao.inicio, 'dd/MM/yyyy')} + ' a ' +
                                ${#dates.format(acao.termino, 'dd/MM/yyyy')} : '-'">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section layout:fragment="js">
    <script>
        $('#menu-acoes').addClass("active");
        $('#acoes').dataTable({
            language: {
                "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Portuguese-Brasil.json"
            },
            order: [[ 2, "asc" ], [0, "asc"]]
        });
    </script>
</section>
</html>
