<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base/base">

<head>
<title>Extensão - Detalhes</title>
</head>

<div class="container-fluid" layout:fragment="conteudo">

	<div th:if="${message}" class="col-lg-3 col-sm-6 col-xs-12">
		<div class="myadmin-alert myadmin-alert-icon myadmin-alert-click alert-success myadmin-alert-top alerttop">
			<i class="ti-check"></i> 
			O número de bolsas foi inserido com sucesso! 
			<a href="#" class="closed">&times;</a>
		</div>
	</div>
	
	<div th:if="${message == false}" class="col-lg-3 col-sm-6 col-xs-12">
		<div class="myadmin-alert myadmin-alert-icon myadmin-alert-click alert-danger myadmin-alert-top alerttop">
			<i class="ti-alert"></i> 
			Não é possível adicionar mais bolsas do que foi solicitada!
			<a href="#" class="closed">&times;</a>
		</div>
	</div>
	
	<div th:if="${messageCodigo}" class="col-lg-3 col-sm-6 col-xs-12">
		<div class="myadmin-alert myadmin-alert-icon myadmin-alert-click alert-success myadmin-alert-top alerttop">
			<i class="ti-check"></i> 
			Código PREX da Ação foi cadastrado com sucesso!
			<a href="#" class="closed">&times;</a>
		</div>
	</div>
	
	<div th:if="${messageCodigo == false}" class="col-lg-3 col-sm-6 col-xs-12">
		<div class="myadmin-alert myadmin-alert-icon myadmin-alert-click alert-danger myadmin-alert-top alerttop">
			<i class="ti-alert"></i> 
			Não foi possível cadastrar o Código!
			<a href="#" class="closed">&times;</a>
		</div>
	</div>
	
	<br />
	
	<!-- Dados Básicos -->
	<div class="row">
		<div class="col-xs-12">
			<div
				th:replace="acao/detalhes/detalhes-dados-basicos :: dados-basicos"></div>
		</div>
	</div>
	
	
	<!-- Equipe de Trabalho -->
	<div class="row">
		<div class="col-xs-12">
			<div th:replace="acao/detalhes/detalhes-equipe :: equipe"></div>
		</div>
	</div>

	<!-- Parcerias -->
	<div class="row">
		<div class="col-xs-12">
			<div th:replace="acao/detalhes/detalhes-parcerias :: parcerias"></div>
		</div>
	</div>

	<!-- Pareceres -->
	<div class="row">
		<!-- Parecer Técnico -->
		<div class="col-xs-6">
			<div
				th:replace="acao/detalhes/detalhes-parecer-tecnico :: parecer-tecnico"></div>
		</div>
		<!-- Parecer do Relator -->
		<div class="col-xs-6">
			<div
				th:replace="acao/detalhes/detalhes-parecer-relator :: parecer-relator"></div>
		</div>
	</div>
</div>
<section layout:fragment="js">
	<script>
		$('#menu-acoes a').addClass("active");
		$('#equipe,#parcerias')
				.dataTable(
						{
							language : {
								"url" : "//cdn.datatables.net/plug-ins/1.10.13/i18n/Portuguese-Brasil.json"
							},
							paging : false,
							searching : false,
							info : false,
							order : [ [ 0, "asc" ] ]
						});

		$(".myadmin-alert .closed").click(function(event) {
			$(this).parents(".myadmin-alert").fadeToggle(350);

			return false;
		});

		$(".showtop").ready(function() {
	        $(".alerttop").fadeToggle(350);
	    });
		 
	</script>
</section>
</html>
