<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="base/base">

<head>

	<title>Extensão - Detalhes</title>
</head>

<div class="container-fluid" layout:fragment="conteudo">
    <div class="row bg-title">
        <!-- .page title -->
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title"></h4>
        </div>
        <!-- /.page title -->
        <!-- .breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="#">Dashboard</a></li>
                <li class="active">Starter Page</li>
            </ol>
        </div>
        <!-- /.breadcrumb -->
    </div>
	
	<!-- TIMELINE -->
	<div class="row">
        <div class="col-md-12">
          <div class="white-box">
            <section class="cd-horizontal-timeline">
                <div class="timeline">
                  <div class="events-wrapper">
                    <div class="events">
                      <ol>
                        <li><a href="#0" data-date="16/01/2014">16 Jan</a></li>
                        <li><a href="#0" data-date="28/02/2014">28 Feb</a></li>
                        <li><a href="#0" data-date="20/04/2014">20 Mar</a></li>
                        <li><a href="#0" data-date="20/05/2014">20 May</a></li>
                        <li><a href="#0" data-date="09/07/2014">09 Jul</a></li>
                        <li><a href="#0" data-date="30/08/2014">30 Aug</a></li>
                        <li><a href="#0" data-date="15/09/2014">15 Sep</a></li>
                        <li><a href="#0" data-date="01/11/2014">01 Nov</a></li>
                        <li><a href="#0" data-date="10/12/2014">10 Dec</a></li>
                        <li><a href="#0" data-date="19/01/2015">29 Jan</a></li>
                        <li><a href="#0" data-date="03/03/2015">3 Mar</a></li>
                      </ol>

                      <span class="filling-line" aria-hidden="true"></span>
                    </div> <!-- .events -->
                  </div> <!-- .events-wrapper -->
                    
                  <ul class="cd-timeline-navigation">
                    <li><a href="#0" class="prev inactive">Prev</a></li>
                    <li><a href="#0" class="next">Next</a></li>
                  </ul> <!-- .cd-timeline-navigation -->
            	    </div>
				</section>
			</div>
		</div>
	</div>
	<!--/ TIMELINE -->
     
   <!-- Dados Básicos -->
    <div class="row">
        <div class="col-xs-12">
            <div th:replace="acao/detalhes/detalhes-dados-basicos :: dados-basicos" ></div>
        </div>
    </div>

    <!-- Equipe de Trabalho -->
    <div class="row">
        <div class="col-xs-12">
            <div th:replace="acao/detalhes/detalhes-equipe :: equipe" ></div>
        </div>
    </div>

    <!-- Parcerias -->
    <div class="row">
        <div class="col-xs-12">
            <div th:replace="acao/detalhes/detalhes-parcerias :: parcerias" ></div>
        </div>
    </div>

    <!-- Pareceres -->
    <div class="row">
        <!-- Parecer Técnico -->
        <div class="col-xs-6">
            <div th:replace="acao/detalhes/detalhes-parecer-tecnico :: parecer-tecnico" ></div>
        </div>
        <!-- Parecer do Relator -->
        <div class="col-xs-6">
            <div th:replace="acao/detalhes/detalhes-parecer-relator :: parecer-relator" ></div>
        </div>
    </div>

</div>
<section layout:fragment="js">
    <script>
        $('#menu-acoes a').addClass("active");
        $('#equipe,#parcerias').dataTable({
            language: {
                "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Portuguese-Brasil.json"
            },
            paging: false,
            searching: false,
            info : false,
            order: [[ 0, "asc" ]]
        });
    </script>
</section>
</html>
