<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base/base">

<head>
<title>Relatório - Ação Extensão</title>
</head>
<div class="container-fluid" layout:fragment="conteudo">
	<br />

	<div class="white-box">
		<div class="box-header with-border">
			<h3 class="box-title">Buscar Ações de Extensão</h3>
			<p class="text-muted m-b-30 font-13">* Selecione um ou mais
				filtros</p>
		</div>
		<form th:action="@{/buscar/acao-extensao}" role="form" method="GET">
			<div class="form-group col-sm-5">
				<label class="control-label">Servidor</label> <select
					id="selectCoordenador" name="servidor" class="form-control">
					<option value="" selected="selected">Selecionar
						coordenador...</option>
					<option th:each="coordenador : ${coordenadores}"
						th:value="${coordenador.pessoa.id}"
						th:text="${coordenador.pessoa.nome}"></option>
				</select>
			</div>
			<div class="form-group col-sm-3">
				<label class="control-label">Modalidade</label> <select
					id="modalidadeSelect" name="modalidade" class="form-control">
					<option value="" selected="selected">Selecionar...</option>
					<option th:each="modalidade : ${modalidades}"
						th:value="${modalidade}" th:text="${modalidade.descricao}"></option>
				</select>
			</div>
			<div class="form-group col-sm-2">
				<label>Situação</label> <select id="situacaoSelect" name="estado"
					class="form-control">
					<option value="" selected="selected">Selecionar...</option>
					<option th:value="true">EM ANDAMENTO</option>
					<option th:value="false">ENCERRADA</option>
				</select>
			</div>
			<div class="form-group col-sm-2">
				<label class="control-label">Ano</label> <input id="anoAcao"
					name="ano" class="form-control" type="number" min="2010" max="2050" />
			</div>
			<div class="row">
				<div class="col-sm-12">
					<button disabled="disabled" id="btn-relatorio-busca" type="submit"
						class="btn btn-info btn-flat pull-right">Buscar</button>
				</div>
			</div>
		</form>
		<div class="row" th:if="${busca}">
			<h3 class="box-title">Campos pesquisados</h3>
			<div data-toogle="tootip" title="Campos pesquisados"
				class="box-header">
				<div th:if="${servidor}" class="col-md-3">
					<label>Servidor:</label>
					<p th:text="${servidor.nome}"></p>
				</div>
				<div th:if="${modalidade}" class="col-md-2">
					<label>Modalidade:</label>
					<p th:text="${modalidade.descricao}"></p>
				</div>
				<div th:if="${estado}" class="col-md-2">
					<label>Estado:</label>
					<p th:text="${estado}"></p>
				</div>
				<div th:if="${curso}" class="col-md-2">
					<label>Curso:</label>
					<p th:text="${curso}"></p>
				</div>
				<div th:if="${ano}" class="col-md-2">
					<label>Ano:</label>
					<p th:text="${ano}"></p>
				</div>
			</div>
		</div>
		<div class="row" th:if="${acoes.size() > 0}">
			<h3 class="box-title">Ações</h3>
			<table id="tableAcoes" class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Título</th>
						<th>Coordenador</th>
						<th>Modalidade</th>
						<th>Período</th>
						<th>Estado</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="acao: ${acoes}">
						<td th:text="${acao.identificador}"></td>
						<td><a th:href="@{/acoes/} + ${acao.id}"
							title="Detalhes da ação" th:text="${acao.titulo}"></a></td>
						<td th:text="${acao.coordenador.nome}"></td>
						<td th:text="${acao.modalidade.descricao}"></td>
						<td
							th:text="${#dates.format(acao.inicio, 'dd/MM/yyyy')} + ' a ' + ${#dates.format(acao.termino, 'dd/MM/yyyy')}"></td>
						<td><label
							th:text="${acao.ativo} ? 'EM ANDAMENTO': 'ENCERRADA'"
							th:class="${acao.ativo} ? 'label label-primary' : 'label label-danger'"></label></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:if="${acoes.size() == 0 AND busca}">
			<h2 class="box-title text-center">Não foi encontrado nenhum
				resultado para a sua busca</h2>
		</div>
	</div>
</div>
<section layout:fragment="js">
	<script>
		$('#menu-relatorio a').addClass("active");

		$('#tableAcoes')
				.dataTable(
						{
							language : {
								"url" : "//cdn.datatables.net/plug-ins/1.10.13/i18n/Portuguese-Brasil.json"
							},
							order : [ [ 2, "asc" ], [ 0, "asc" ] ]
						});
	</script>
	<script type="text/javascript">
		var selectCoordenador = document.getElementById("selectCoordenador");
		var coordenador = selectCoordenador.options[selectCoordenador.selectedIndex].value;

		var selectModalidade = document.getElementById("modalidadeSelect");
		var modalidade = selectModalidade.options[selectModalidade.selectedIndex].value;

		var selectSituacao = document.getElementById("situacaoSelect");
		var situacao = selectSituacao.options[selectSituacao.selectedIndex].value;

		var anoAcao;

		$('#anoAcao')
				.change(
						function() {
							anoAcao = this.value;
							if (anoAcao != "" || coordenador != ""
									|| situacao != "" || modalidade != "") {
								document.getElementById("btn-relatorio-busca").disabled = false;
							} else {
								document.getElementById("btn-relatorio-busca").disabled = true;
							}
						});

		$('#anoAcao')
				.on(
						"keyup",
						function() {
							anoAcao = this.value;
							if (anoAcao != "" || coordenador != ""
									|| situacao != "" || modalidade != "") {
								document.getElementById("btn-relatorio-busca").disabled = false;
							} else {
								document.getElementById("btn-relatorio-busca").disabled = true;
							}
						});

		$('#selectCoordenador')
				.change(
						function() {
							coordenador = this.options[this.selectedIndex].value;
							if (anoAcao != "" || coordenador != ""
									|| situacao != "" || modalidade != "") {
								document.getElementById("btn-relatorio-busca").disabled = false;
							} else {
								document.getElementById("btn-relatorio-busca").disabled = true;
							}
						});

		$('#modalidadeSelect')
				.change(
						function() {
							modalidade = this.options[this.selectedIndex].value;
							if (anoAcao != "" || coordenador != ""
									|| situacao != "" || modalidade != "") {
								document.getElementById("btn-relatorio-busca").disabled = false;
							} else {
								document.getElementById("btn-relatorio-busca").disabled = true;
							}
						});

		$('#situacaoSelect')
				.change(
						function() {
							situacao = this.options[this.selectedIndex].value;
							if (anoAcao != "" || coordenador != ""
									|| situacao != "" || modalidade != "") {
								document.getElementById("btn-relatorio-busca").disabled = false;
							} else {
								document.getElementById("btn-relatorio-busca").disabled = true;
							}
						});
	</script>
</section>
</html>
