<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="modulos/fragments :: head"></head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<header th:replace="modulos/fragments :: header"></header>
		<aside th:replace="modulos/fragments :: menu"></aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="box-header with-border">
					<h3 class="box-title">Adicionar Nova Participação</h3>
				</div>
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="box box-primary">
					<form method="post" th:action="@{/participacoes/}+${idAcao}"
						th:object="${participacao}" role="form">
	
						<div class="alert alert-danger alert-dismissible" th:if="${#fields.hasErrors('*')}">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							<h4><i class="icon fa fa-ban"></i> ERRO!</h4>
							<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
						</div>
	
						<div class="box-body">
							<div id="formFuncao" class="form-group">
								<label for="funcao"><span>*</span>Função</label>
									<select id="selectFuncao" class="form-control" required="required" th:field="*{funcao}">
										<option th:each="funcao : ${funcoes}" th:value="${funcao}" th:text="${funcao.descricao}"/>
									</select>
								<div id="divDescricaoFuncao">
									<label for="descricaoFuncao"><span>*</span>Descrição da Função</label>
									<input id="descricaoFuncao" class="form-control" th:field="*{descricaoFuncao}" type="text"/>
								</div>
							</div>
	
							<div id="formParticipante">
								<label for="participante"><span id="spanParticipante">*</span>Participante</label>
								<div id="divSelectPessoa" class="form-group">
									<select id="selectPessoa" class="form-control" th:field="*{participante}">
										<option id="default" value=" ">A Selecionar...</option>
									</select>
								</div>
								<div id="divNomeCpf" class="form-group row">
									<div class="col-xs-8">
										<label for="nomeParticipante"><span>*</span>Nome</label>
										<input id="nomeParticipante" type="text" class="form-control" th:field="*{nomeParticipante}" /> 
									</div>
									<div class="col-xs-4">
										<label for="cpfParticipante"><span>*</span>CPF</label>
										<input id="cpfParticipante" type="text" class="form-control" th:field="*{cpfParticipante}" />
									</div>
								</div>
							</div>
	
							<div class="form-group">
								<label for="instituicao"><span>*</span>Instituição</label>
								<select id="selectInstituicao" class="form-control" required="required" th:field="*{instituicao}">
									<option th:each="instituicao : ${instituicoes}" th:value="${instituicao}" th:text="${instituicao.descricao}" />
								</select>
								<div id="divNomeInstituicao">
									<label for="nomeInstituicao"><span>*</span>Nome da Instituição</label> 
									<input id="nomeInstituicao" type="text" class="form-control" th:field="*{nomeInstituicao}" />
								</div>
							</div>
							<div class="form-group">
								<label for="cargaHoraria"><span>*</span>Carga Horária Semanal (hrs)</label>
								<input id="cargaHoraria" type="number" max="12"
									min="12" class="form-control" required="required"
									th:field="*{cargaHoraria}" />
							</div>
						</div>
	
						<div class="box-footer">
							<input name="salvar" type="submit" class="btn btn-primary" value="Adicionar" />
							<a href="/gpa-extensao" class="btn btn-warning back">Cancelar</a>
						</div>
					</form>
				</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<footer th:replace="modulos/fragments :: footer"></footer>
	</div>
	<!-- ./wrapper -->
</body>
</html>