<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-page="cadastrar-acao">
<head th:replace="modulos/fragments :: head"></head>
<body class="hold-transition skin-blue sidebar-mini fixed">
    <div class="wrapper">
        <header th:replace="modulos/fragments :: header"></header>
        <aside th:replace="modulos/fragments :: menu"></aside>
        <div class="content-wrapper">
            <section class="content-header"></section>

            <section class="content">
                    <div class="box box-info">
                        <div class="box-header">
                            <h3 class="box-title">Nova Ação de Extensão</h3>
                        </div>
                        <div id="message" hidden="hidden"></div>
                        <form id="formCadastrarAcaoExtensao" role="form" th:action="@{/cadastrarAcao}" enctype="multipart/form-data" method="POST" th:object="${acaoExtensao}">
                            <div class="box-body">
                                <div class="form-group">
                                    <label>Título <i class="icon fa fa-asterisk" style="color:red;"></i></label>
                                    <input class="form-control" id="cadastrarTituloAcaoExtensao" th:field="${acaoExtensao.titulo}" placeholder="Escreva o título..." name="titulo" type="text" required="required" />
                                </div>
                                <div class="form-group">
                                    <label>Resumo <i class="icon fa fa-asterisk" style="color:red;"></i></label>
                                    <textarea class="form-control" th:field="${acaoExtensao.resumo}" placeholder="Escreva o resumo..." name="cadastrarResumoAcaoExtensao" required="required"></textarea>
                                </div>
                                <label>Data</label>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                                <label>Início:</label>
                                            </span>
                                            <input id="cadastrarDataInicio" th:field="${acaoExtensao.inicio}" type="text" class="form-control" name="inicio" autocomplete="off"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <label>Término:</label>
                                            </span>
                                            <input id="cadastrarDataTermino" th:field="${acaoExtensao.termino}" type="text" class="form-control" name="termino" autocomplete="off"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Vínculo: </label>
                                    <select class="form-control" id="cadastrarVinculoAcaoExtensao" th:field="${acaoExtensao.vinculo}" name="vinculo">
                                        <option value="">Selecionar Vinculo</option>
                                        <option th:each="vinculo : ${acoesParaVinculo}" th:value="${vinculo.id}" th:text="${vinculo.titulo}"></option>
                                    </select>
                                </div>
                                <div class="row">
	                                <div class="form-group col-md-6">
	                                    <label>Está Acão é Prorrogável?</label>
	                                    <br/>
	                                    <label class="radio-inline">
	                                        <input type="radio" th:field="${acaoExtensao.prorrogavel}" th:checked="*{prorrogavel == true}" value="true"/>
											SIM
	                                    </label>
	                                    <label class="radio-inlinex">
	                                        <input type="radio" th:field="${acaoExtensao.prorrogavel}" th:checked="*{prorrogavel == false}" value="false"/>
											NÃO
	                                    </label>
	                                </div>
	                                <div class="form-group col-md-6 " id="divCadastrarModalidadeAcaoExtensao">
	                                    <label>Modalidade <i class="icon fa fa-asterisk" style="color:red;"></i></label>
	                                    <br/>
	                                    <select class="form-control select2-select" name="modalidade" id="cadastrarModalidadeAcaoExtensao" th:field="${acaoExtensao.modalidade}" required="required">
	                                        <option th:each="modalidade : ${modalidades}" th:value="${modalidade}" th:text="${modalidade.descricao}"></option>
	                                    </select>
	                                </div>
	                               </div>
                                <div id="cargasHorarias" style="display:none;">
                                    <label>Carga Horária</label>
                                    <div class="form-group row">
                                        <div class="col-lg-6">
                                            <div class="input-group date">
                                                <span class="input-group-addon">
                                                    <label>Horas Práticas:</label>
                                                </span>
                                                <input id="cadastrarHorasPraticas" th:field="${acaoExtensao.horasPraticas}" name="horasPraticas" type="number" min="0" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <label>Aulas Teóricas:</label>
                                                </span>
                                                <input id="cadastrarHorasTeoricas" th:field="${acaoExtensao.horasTeoricas}" name="horasTeoricas" type="number" min="0" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="ementaAcaoExtensao" style="display:none;">
                                    <label>Ementa/Conteúdo programático</label>
                                    <textarea class="form-control" id="cadastrarEmentaAcaoExtensao" th:field="${acaoExtensao.ementa}" name="ementa" placeholder="Escreva o conteúdo programático/ementa..."></textarea>
                                </div>
                                <div class="form-group" id="programacaoAcaoExtensao" style="display:none;">
                                    <label>Programação</label>
                                    <textarea class="form-control" id="cadastrarProgramacaoAcaoExtensao" th:field="${acaoExtensao.programacao}" name="programacao" placeholder="Escreva a programação..."></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="cadastrarAnexoAcaoExtensao">Anexos</label>
                                    <input id="cadastrarAnexoAcaoExtensao" name="anexoAcao" type="file"/>
                                </div>
								<div class="form-group row col-md-6">
									<input id="dedicacaoID" type="hidden" th:value="${dedicacao}"/>
									<label for="cargaHoraria"><span>*</span>Carga Horária Semanal (hrs) do Coordenador</label>
									<input id="cargaHoraria" type="number" name="cargaHoraria"
										class="form-control" required="required"/>
								</div>
                            </div>
                            <div class="box-footer">
                                <button id="botaoCadastrar" type="submit" class="btn btn-primary">Cadastrar</button>
                            </div>
                        </form>
                    </div>
            </section>
        </div>
        <footer th:replace="modulos/fragments :: footer"></footer>
    </div>
</body>
</html>