<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="modulos/fragments :: head"></head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<header th:replace="modulos/fragments :: header"></header>
		<aside th:replace="modulos/fragments :: menu"></aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="box-header with-border">
					<h3 class="box-title">Listar Participacões</h3>
				</div>
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="row">
					<div class="col-xs-12">
						<div class="box">
							<div class="box-body table-responsive">
								<table class="table-participacoes table table-striped table-bordered">
									<thead>
										<tr>
											<th>NOME</th>
											<th>CPF</th>
											<th>FUNCÃO</th>
											<th>INSTITUIÇÃO</th>
											<th>CARGA HORÁRIA</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="participacao: ${participacoes}">
											<td th:if="${participacao.nomeParticipante} == ''" th:text="${participacao.participante.nome}"></td>
											<td th:if="${participacao.nomeParticipante} != ''" th:text="${participacao.nomeParticipante}"></td>
											<td th:if="${participacao.cpfParticipante} == ''" th:text="${participacao.participante.cpf}"></td>
											<td th:if="${participacao.cpfParticipante} != ''" th:text="${participacao.cpfParticipante}"></td>
											<td th:if="${participacao.funcao.name()} == 'OUTRA'" th:text="${participacao.descricaoFuncao}"></td>
											<td th:if="${participacao.funcao.name()} != 'OUTRA'" th:text="${participacao.funcao.descricao}"></td>
											<td th:if="${participacao.instituicao.name()} == 'UFC'" th:text="${participacao.instituicao.descricao}"></td>
											<td th:if="${participacao.instituicao.name()} != 'UFC'" th:text="${participacao.nomeInstituicao}"></td>
											<td th:text="${participacao.cargaHoraria}+ ' Horas'"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<footer th:replace="modulos/fragments :: footer"></footer>
	</div>
	<!-- ./wrapper -->
</body>
</html>