<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="modulos/fragments :: head"></head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
	
		<header th:replace="modulos/fragments :: header"></header>
		<aside th:replace="modulos/fragments :: menu"></aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>Ações de Extensão</h1>
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="row">

					<div id="parecer-card" class="card col-lg-3 col-xs-6">
						<!-- small box -->
						<div class="small-box bg-blue cursor-pointer">
							<div class="inner">
								<h3 th:text="${acoesAguardandoParecerista.size()} + ${acoesAguardandoParecer.size()}"></h3>
								<p>Parecer</p>
							</div>
							<div class="icon">
								<i class="fa fa-folder-open-o"></i>
							</div>
						</div>
					</div>
					
					<div id="relato-card" class="card col-lg-3 col-xs-6">
						<!-- small box -->
						<div class="small-box bg-aqua cursor-pointer">
							<div class="inner">
								<h3 th:text="${acoesAguardandoRelator.size()} + ${acoesAguardandoRelato.size()}"></h3>

								<p>Relato</p>
							</div>
							<div class="icon">
								<i class="fa fa-folder-o"></i>
							</div>
						</div>
					</div>
					
					<div id="homologacao-card" class="card col-lg-3 col-xs-6">
						<!-- small box -->
						<div class="small-box bg-aqua cursor-pointer">
							<div class="inner">
								<h3 th:text="${acoesAguardandoHomologacao.size()}"></h3>

								<p>Homologação</p>
							</div>
							<div class="icon">
								<i class="fa fa-folder-o"></i>
							</div>
						</div>
					</div>
					
					<div id="homologado-card" class="card col-lg-3 col-xs-6">
						<!-- small box -->
						<div class="small-box bg-aqua cursor-pointer">
							<div class="inner">
								<h3 th:text="${acoesHomologadas.size()}"></h3>

								<p>Homologadas</p>
							</div>
							<div class="icon">
								<i class="fa fa-folder-o"></i>
							</div>
						</div>
					</div>

				</div>

				<div class="row parecer">
					<div class="col-xs-12">
						<div class="box box-info">

							<div class="box-header">
								<h3>Ações Aguardando Parecerista</h3>
							</div>

							<div class="box-body table-responsive">
								<table class="table-direcao table table-striped table-bordered">
									<thead>
										<tr>
											<th>ID</th>
											<th>Título</th>
											<th>Coordenador</th>
											<th>Modalidade</th>
											<th>Status</th>
										</tr>
									</thead>
									
									<tbody>
										
										<tr th:each="acao: ${acoesAguardandoParecerista}">
											<td th:text="${acao.identificador}"></td>
											<td> <a th:href="@{/detalhes/} + ${acao.id}" title="Detalhes da ação" th:text="${acao.titulo}"></a> </td>
											<td th:text="${acao.coordenador.nome}"></td>
											<td th:text="${acao.modalidade.descricao}"></td>
											<td>
												<span class="label label-primary" th:text="${acao.status.descricao}"></span>
											</td>
										</tr>
										
									</tbody>
								</table>
							</div>
							
						</div>
					</div>
				</div><!-- /.tabela aguardando parecerista -->

				<div class="row parecer">
					<div class="col-xs-12">
						<div class="box box-info">

							<div class="box-header">
								<h3>Ações Aguardando Parecer</h3>
							</div>

							<div class="box-body table-responsive">
								<table class="table-direcao table table-striped table-bordered">
									<thead>
										<tr>
											<th>ID</th>
											<th>Título</th>
											<th>Coordenador</th>
											<th>Modalidade</th>
											<th>Status</th>
										</tr>
									</thead>

									<tbody>

										<tr th:each="acao: ${acoesAguardandoParecer}">
											<td th:text="${acao.identificador}"></td>
											<td> <a th:href="@{/detalhes/} + ${acao.id}" title="Detalhes da ação" th:text="${acao.titulo}"></a> </td>
											<td th:text="${acao.coordenador.nome}"></td>
											<td th:text="${acao.modalidade.descricao}"></td>
											<td>
												<span th:class="${acao.status.descricao == 'RESOLVENDO PENDÊNCIAS DO PARECER'} ?
	  												  		'label label-warning' : 'label label-primary'"
	  											  th:text="${acao.status.descricao}"></span>
											</td>
										</tr>

									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>
				<!-- /.tabela aguardando parecer -->

				<div class="row relato" style="display: none">
					<div class="col-xs-12">
						<div class="box box-info">

							<div class="box-header">
								<h3>Ações Aguardando Relator</h3>
							</div>

							<div class="box-body table-responsive">
								<table class="table-direcao table table-striped table-bordered">
									<thead>
										<tr>
											<th>ID</th>
											<th>Título</th>
											<th>Coordenador</th>
											<th>Modalidade</th>
											<th>Status</th>
										</tr>
									</thead>

									<tbody>

										<tr th:each="acao: ${acoesAguardandoRelator}">
											<td th:text="${acao.identificador}"></td>
											<td> <a th:href="@{/detalhes/} + ${acao.id}" title="Detalhes da ação" th:text="${acao.titulo}"></a> </td>
											<td th:text="${acao.coordenador.nome}"></td>
											<td th:text="${acao.modalidade.descricao}"></td>
											<td>
												<span class="label label-primary" th:text="${acao.status.descricao}"></span>
											</td>
										</tr>

									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>
				<!-- /.tabela aguardando relator -->

				<div class="row relato" style="display: none">
					<div class="col-xs-12">
						<div class="box box-info">

							<div class="box-header">
								<h3>Ações Aguardando Relato</h3>
							</div>

							<div class="box-body table-responsive">
								<table class="table-direcao table table-striped table-bordered">
									<thead>
										<tr>
											<th>ID</th>
											<th>Título</th>
											<th>Coordenador</th>
											<th>Modalidade</th>
											<th>Status</th>
										</tr>
									</thead>

									<tbody>

										<tr th:each="acao: ${acoesAguardandoRelato}">
											<td th:text="${acao.identificador}"></td>
											<td> <a th:href="@{/detalhes/} + ${acao.id}" title="Detalhes da ação" th:text="${acao.titulo}"></a> </td>
											<td th:text="${acao.coordenador.nome}"></td>
											<td th:text="${acao.modalidade.descricao}"></td>
											<td>
												<span th:class="${acao.status.descricao == 'RESOLVENDO RESTRIÇÕES DO RELATO'} ?
	  												  		'label label-warning' : 'label label-primary'"
	  											  	  th:text="${acao.status.descricao}"></span>
											</td>
										</tr>

									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>
				<!-- /.tabela aguardando relato -->

				<div class="row homologacao" style="display: none">
					<div class="col-xs-12">
						<div class="box box-info">

							<div class="box-header">
								<h3>Ações Aguardando Homologação</h3>
							</div>

							<div class="box-body table-responsive">
								<table class="table-direcao table table-striped table-bordered">
									<thead>
										<tr>
											<th>ID</th>
											<th>Título</th>
											<th>Coordenador</th>
											<th>Modalidade</th>
											<th>Status</th>
											<th></th>
										</tr>
									</thead>

									<tbody>

										<tr th:each="acao: ${acoesAguardandoHomologacao}">
											<td th:text="${acao.identificador}"></td>
											<td> <a th:href="@{/detalhes/} + ${acao.id}" title="Detalhes da ação" th:text="${acao.titulo}"></a> </td>
											<td th:text="${acao.coordenador.nome}"></td>
											<td th:text="${acao.modalidade.descricao}"></td>
											<td>
												<span class="label label-primary" th:text="${acao.status.descricao}"></span>
											</td>
											<td class="acoes" align="center">
												<a title="Homologar Ação" th:href="@{/direcao/homologacao/} + ${acao.id}">
													<button class="btn btn-primary btn-xs"><i class="fa fa-gavel"></i></button>
												</a>
											</td>
										</tr>

									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>
				<!-- /.tabela aguardando homologacao -->

				<div class="row homologado" style="display: none">
					<div class="col-xs-12">
						<div class="box box-info">

							<div class="box-header">
								<h3>Ações Homologadas</h3>
							</div>

							<div class="box-body table-responsive">
								<table class="table-direcao-homologadas table table-striped table-bordered">
									<thead>
										<tr>
											<th>ID</th>
											<th>Título</th>
											<th>Coordenador</th>
											<th>Modalidade</th>
											<th>Status</th>
										</tr>
									</thead>

									<tbody>

										<tr th:each="acao: ${acoesHomologadas}">
											<td class="vcenter" th:text="${acao.identificador}"></td>
											<td> <a th:href="@{/detalhes/} + ${acao.id}" title="Detalhes da ação" th:text="${acao.titulo}"></a> </td>
											<td th:text="${acao.coordenador.nome}"></td>
											<td th:text="${acao.modalidade.descricao}"></td>
											<td>
												<span class="label label-primary" th:text="${acao.status.descricao}"></span>
											</td>
										</tr>

									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>
				<!-- /.tabela acoes homologadas -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<footer th:replace="modulos/fragments :: footer"></footer>
	</div>
	<!-- ./wrapper -->
	
	
	
</body>
</html>
