<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="modulos/fragments :: head"></head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
	
		<header th:replace="modulos/fragments :: header"></header>
		<aside th:replace="modulos/fragments :: menu"></aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>Ações de Extensão</h1>
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="row">

					<div id="a_parecerista_card" class="card col-lg-3 col-xs-6">
						<!-- small box -->
						<div class="small-box bg-aqua cursor-pointer">
							<div class="inner">
								<h3>150</h3>
								<p>Parecer</p>
							</div>
							<div class="icon">
								<i class="fa fa-folder-open-o"></i>
							</div>
						</div>
					</div>
					
					<div class="card col-lg-3 col-xs-6">
						<!-- small box -->
						<div class="small-box bg-yellow cursor-pointer">
							<div class="inner">
								<h3>150</h3>

								<p>Relato</p>
							</div>
							<div class="icon">
								<i class="fa fa-folder-o"></i>
							</div>
						</div>
					</div>
					
					<div class="card col-lg-3 col-xs-6">
						<!-- small box -->
						<div class="small-box bg-yellow cursor-pointer">
							<div class="inner">
								<h3>150</h3>

								<p>Homologação</p>
							</div>
							<div class="icon">
								<i class="fa fa-folder-o"></i>
							</div>
						</div>
					</div>
					
					<div class="card col-lg-3 col-xs-6">
						<!-- small box -->
						<div class="small-box bg-yellow cursor-pointer">
							<div class="inner">
								<h3>150</h3>

								<p>Homologadas</p>
							</div>
							<div class="icon">
								<i class="fa fa-folder-o"></i>
							</div>
						</div>
					</div>

				</div>
				
				
				<div class="row">
					<div class="col-xs-12">
						<div class="box">

							<div class="box-header">
								<h3>Ações aguardando parecer/parecerista</h3>
							</div>

							<div class="box-body">
								<table id="table-acoes-parecer"
									class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>ID</th>
											<th>Título</th>
											<th>Coordenador</th>
											<th>Modalidade</th>
											<th>Status</th>
										</tr>
									</thead>
									
									<tbody>
										
										<tr th:each="acao: ${acoesParecer}">
											<td th:text="${acao.id}"></td>
											<td th:text="${acao.titulo}"></td>
											<td th:text="${acao.coordenador.nome}"></td>
											<td th:text="${acao.modalidade.descricao}"></td>
											<td th:text="${acao.status.descricao}"></td>
										</tr>
										
									</tbody>
								</table>
							</div>
							
						</div>
					</div>
				</div><!-- /.tabela aguardando parecer -->
				
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<footer th:replace="modulos/fragments :: footer"></footer>
	</div>
	<!-- ./wrapper -->
	
	
	
</body>
</html>
